<ul class="solitions-list">

  <li class="capp">
    <% link_to "/capp-lms.html", class: "col left" do %>
      <h2><%= t("capp.name") %></h2>
    <% end %>
    <div class="col right">
      <p><%= t("capp.desc", link: link_to(t("capp.name"), "/capp-lms.html")) %></p>
      <%= link_to t("actions.read_more"), "/capp-lms.html", class: "button blue outline" %>
    </div>
  </li>

  <li class="kwaliteitspaspoort">
    <% link_to "/kwaliteitspaspoort.html", class: "col left" do %>
      <h2><%= image_tag t("kwaliteitspaspoort.logo"), alt: t("kwaliteitspaspoort.name") %></h2>
    <% end %>
    <div class="col right">
      <p><%= t("kwaliteitspaspoort.desc", link: link_to(t("kwaliteitspaspoort.name"), "/kwaliteitspaspoort.html")) %></p>
      <%= link_to t("actions.read_more"), "/kwaliteitspaspoort.html", class: "button turquoise outline" %>
    </div>
  </li>

  <li class="learningspaces">
    <% link_to "/learningspaces.html", class: "col left" do %>
      <h2><%= image_tag t("learningspaces.logo"), alt: t("learningspaces.name") %></h2>
    <% end %>
    <div class="col right">
      <p><%= t("learningspaces.desc", link: link_to(t("learningspaces.name"), "/learningspaces.html")) %></p>
      <%= link_to t("actions.read_more"), "/learningspaces.html", class: "button green outline" %>
    </div>
  </li>

  <li class="starterkit">
    <% link_to "/e-learning-starterkit.html", class: "col left" do %>
      <h2><%= t("elearning_starterkit.name") %></h2>
    <% end %>
    <div class="col right">
      <p><%= t("elearning_starterkit.desc", link: link_to(t("elearning_starterkit.name"), "/e-learning-starterkit.html")) %></p>
      <%= link_to t("actions.read_more"), "/e-learning-starterkit.html", class: "button red outline" %>
    </div>
  </li>

  <li class="threesixty">
    <% link_to "/360-feedback.html", class: "col left" do %>
      <h2><%= image_tag t("threesixty.logo"), alt: t("threesixty.name") %></h2>
    <% end %>
    <div class="col right">
      <p><%= t("threesixty.desc", link: link_to(t("threesixty.name"), "/360-feedback.html")) %></p>
      <%= link_to t("actions.read_more"), "/360-feedback.html", class: "button orange outline" %>
    </div>
  </li>

</ul>
