<ul class="references-list">
  <li><a href="http://www.evangelischeskrankenhaus.de/" target="_blank"><%= image_tag "references/eko.png", alt: "Evangelisches Krankenhaus Oldenburg" %></a></li>
  <li><a href="http://www.berendsohn.de/" target="_blank"><%= image_tag "references/berendsohn.png", alt: "Berendsohn" %></a></li>
  <li><a href="http://www.friedrich-ebert-krankenhaus.de/" target="_blank"><%= image_tag 'references/fek.png', alt: 'Friedrich-Ebert-Krankenhaus' %></a></li>
  <li><a href="https://www.lumc.nl/" target="_blank"><%= image_tag "references/lumc.png", alt: "Leids Universitair Medisch Centrum" %></a></li>
  <li><a href="https://www.mumc.nl/" target="_blank"><%= image_tag "references/mumc.png", alt: "Maastricht Universitair Medisch Centrum" %></a></li>
  <li><a href="https://www.mmc.nl/" target="_blank"><%= image_tag "references/mmc.png", alt: "Maxima Medisch Centrum" %></a></li>
  <li><a href="https://www.gelreziekenhuizen.nl/Gelreziekenhuizen" target="_blank"><%= image_tag "references/gelre-ziekenhuizen.png", alt: "Gelre Ziekenhuizen" %></a></li>
  <li><a href="http://www.spaarneziekenhuis.nl/nl/Paginas/default.aspx" target="_blank"><%= image_tag "references/spaarne-gasthuis.png", alt: "Spaarne Gasthuis" %></a></li>
  <li><a href="http://www.sfg.nl/" target="_blank"><%= image_tag "references/sfg.png", alt: "Sint Franciscus Gasthuis" %></a></li>
   <li><a href="http://www.zrt.nl/" target="_blank"><%= image_tag "references/rivierenland.png", alt: "Ziekenhuis Rivierenland" %></a></li>
  <li><a href="https://www.ozg.nl/" target="_blank"><%= image_tag "references/ozg.png", alt: "Ommelander Ziekenhuis Groep" %></a></li>
  <li><a href="https://www.kwintes.nl/" target="_blank"><%= image_tag "references/kwintes.png", alt: "Kwintes" %></a></li>
  <li><a href="https://www.zuidzorg.nl/" target="_blank"><%= image_tag "references/zuidzorg.png", alt: "Zuidzorg" %></a></li>
  <li><a href="http://www.amarant.nl/" target="_blank"><%= image_tag "references/amarant.png", alt: "Amarant" %></a></li>
  <li><a href="https://www.zzgzorggroep.nl/" target="_blank"><%= image_tag "references/zzg.png", alt: "ZZG Zorggroep" %></a></li>
  <li><a href="https://www.kpnconsulting.nl/" target=" _blank"><%= image_tag "references/kpn-consulting.jpg", alt: "KPN Consulting" %></a></li>
  <li><a href="https://www.tui.nl/" target=" _blank"><%= image_tag "references/tui.png", alt: "TUI Nederland" %></a></li>
  <li><a href="http://www.luchtvaartcollegeschiphol.nl/" target="_blank"><%= image_tag "references/luchtvaartcollege-schiphol.png", alt: "Luchtvaartcollege Schiphol" %></a></li>
  <li><a href="http://www.schiphol.nl/index_shg.html" target="_blank"><%= image_tag "references/schiphol-group.png", alt: "Schiphol Group" %></a></li>
  <li><a href="https://www.equens.com/" target="_blank"><%= image_tag "references/equens.png", alt: "Equens" %></a></li>
  <li><a href="https://www.sogeti.nl/" target="_blank"><%= image_tag "references/sogeti.png", alt: "Sogeti" %></a></li>
  <li><a href="https://www.rijksoverheid.nl/ministeries/ministerie-van-volksgezondheid-welzijn-en-sport" target="_blank"><%= image_tag "references/ministerie-vws.png", alt: "Ministerie van Volksgezondheid, Welzijn en Sport" %></a></li>
  <li><a href="https://www.rijksoverheid.nl/ministeries/ministerie-van-sociale-zaken-en-werkgelegenheid" target="_blank"><%= image_tag "references/ministerie-szw.png", alt: "Ministerie van Sociale Zaken en Werkgelegenheid" %></a></li>
  <li><a href="https://www.karakter.com/" target="_blank"><%= image_tag "references/karakter.png", alt: "Karakter kinder- en jeugdpsychiatrie" %></a></li>
  <li><a href="http://www.beweging3.nl/nl/home/1474/" target="_blank"><%= image_tag "references/b3.png", alt: "Beweging 3.0" %></a></li>
  <li><a href="http://www.stmr.nl/" target="_blank"><%= image_tag "references/stmr.png", alt: "Stichting Thuiszorg & Maatschappelijk werk Rivierenland" %></a></li>
  <li><a href="http://www.activite.nl/home" target="_blank"><%= image_tag "references/activite.jpg", alt: "ActiVite" %></a></li>
  <li><a href="https://www.heliomare.nl/" target="_blank"><%= image_tag "references/heliomare.png", alt: "Heliomare onderwijs" %></a></li>
  <li><a href="https://www.rijksoverheid.nl/ministeries/ministerie-van-binnenlandse-zaken-en-koninkrijksrelaties" target="_blank"><%= image_tag "references/min-bzk.gif",
    alt: "Imigratie- en Naturalisatiediesnts, Ministerie van Binnenlandse Zaken en Koninkrijksreleaties" %></a></li>
  <li><a href="https://www.duo.nl/" target="_blank"><%= image_tag "references/duo-ocw.png", alt: "Dienst Uitvoerend Onderwijs, Ministerie van Onderwijs, Cultuur en Wetenschap" %></a></li>
  <li><a href="http://www.denhaag.nl/home.htm" target="_blank"><%= image_tag "references/gemeente-denhaag.png", alt: "Gemeente Den Haag" %></a></li>
  <li><a href="https://www.mcl.nl/" target="_blank"><%= image_tag "references/mcl.png", alt: "Medisch Centrum Leeuwarden" %></a></li>
  <li><a href="https://www.kvk.nl/" target="_blank"><%= image_tag "references/kvk.png", alt: "Kamer van Koophandel" %></a></li>
  <li><a href="https://www.phoenixopleidingen.nl/" target="_blank"><%= image_tag "references/phoenix.jpg", alt: "Phoenix Opleidingen" %></a></li>
</ul>
