<div class="sidebar">
  <h3>Sidebar</h3>
  <nav>
    <ul>
      <li><%= nav_link_to 'Over Defacto', '/over-ons.html' %></li>
      <li><%= nav_link_to 'Geschiedenis', '#' %></li>
      <li><%= nav_link_to 'Clients', '#' %></li>
      <li><%= nav_link_to 'Testimonials', '#' %></li>
      <li><%= nav_link_to 'Techniek', '#' %></li>
    </ul>
  </nav>
</div>
