<section id="team">
  <ol>

    <% data.team.sort { |a, b| a.lastname <=> b.lastname }.each do |person| %>
      <li>
        <% if href = team_avatar_url(person) %>
          <%= image_tag href, alt: "#{person.firstname} #{person.lastname}", class: "avatar" %>
        <% else %>
          <div class="avatar no-image"></div>
        <% end %>
        <h5>
          <span><%= person.firstname %></span>
          <span><%= person.lastname %></span>
        </h5>
      </li>
    <% end %>

    <li class="you">
      <a href="http://jobs.defacto.nl" target="_blank">
        <div class="avatar"><%= t("about.team.you") %></div>
        <h5>
          <span><%= t("about.team.work_with_us") %></span>
          <span>Defacto</span>
        </h5>
      </a>
    </li>

  </ol>
</section>



