<!doctype html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= page_title current_page %></title>
    <meta name="description" content="<%= current_page.data.description || t("head.default_description") %>">
    <%= stylesheet_link_tag "main" %>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= partial "google_analytics" %>
    <!--
     ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄
     █████ █████ █████
     █████ █████ █████     ██████▄▄             ▟███▘
     ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄     ███   ▀██           ▕██                    ██▌
     █████ █████ █████     ███    ██  ▄██▀██▙ ██████ ▗▟████▙  ▟████▙ █████ ▟█████▙
     ▀▀▀▀▀ ▀▀▀▀▀ ▀▀▀▀▀     ███    ██  ██▄▄▄██  ▕██     ▁▁▁██ ▕██      ██▌  ██▎ ▕██
     █████ █████ █████     ███    ██  ██▀▔▔▔   ▕██   ██▀▀▀██ ▕██      ██▌  ██▎ ▕██
     █████ █████ █████     ████████▀  ▀█████▛  ▕██   ▜███▛██  ▜████▛  ▜██▛ ▜█████▛
     ▔▔▔▔▔ ▔▔▔▔▔ ▔▔▔▔▔

     Hi there!
     The *real* source of this website can be viewed at https://github.com/DefactoSoftware/website
     Come hack with us? http://jobs.defacto.nl/
    -->
  </head>
  <body class="<%= page_classes %> <%= "blog_article" if is_blog_article? %>">
    <%= partial "header" %>
    <div id="main" role="main">
      <%= yield %>
    </div>
    <%= partial "footer" %>

    <% if data.downloads.ebook[I18n.locale] && current_page.url != "/blog/" && !is_blog_article? %>
      <%= partial "popup-ebook" %>
    <% end %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script> window.I18n = { locale: '<%= I18n.locale %>' }; </script>
    <%= javascript_include_tag "all" %>
    <script>
      window.intercomSettings = { app_id: 'yb5mzq3j' };
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/yb5mzq3j';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
    </script>
    <!--[if lte IE 9]>
    <%= javascript_include_tag "jquery.placeholder.min" %>
    <script>
      $(function() {
        $('input, textarea').placeholder()
      });
    </script>
    <![endif]-->
  </body>
</html>
