<!doctype html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta charset="utf-8">
    <!--
     ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄
     █████ █████ █████
     █████ █████ █████     ██████▄▄             ▟███▘
     ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄     ███   ▀██           ▕██                    ██▌
     █████ █████ █████     ███    ██  ▄██▀██▙ ██████ ▗▟████▙  ▟████▙ █████ ▟█████▙
     ▀▀▀▀▀ ▀▀▀▀▀ ▀▀▀▀▀     ███    ██  ██▄▄▄██  ▕██     ▁▁▁██ ▕██      ██▌  ██▎ ▕██
     █████ █████ █████     ███    ██  ██▀▔▔▔   ▕██   ██▀▀▀██ ▕██      ██▌  ██▎ ▕██
     █████ █████ █████     ████████▀  ▀█████▛  ▕██   ▜███▛██  ▜████▛  ▜██▛ ▜█████▛
     ▔▔▔▔▔ ▔▔▔▔▔ ▔▔▔▔▔

     Hi there!
     The *real* source of this website can be viewed at https://github.com/DefactoSoftware/website
     Come hack with us? http://jobs.defacto.nl/
    -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= page_title current_page %></title>
    <meta name="description" content="<%= current_page.data.description || t("head.default_description") %>">
    <link rel="canonical" href="<%= full_url(current_page.url) %>">

    <meta property="og:site_name" content="Defacto - Developing People">
    <meta property="og:title" content="<%= page_title(current_page, false) %>">
    <meta property="og:url" content="<%= full_url(current_page.url) %>">
    <meta property="og:type" content="<%= is_blog_article? ? "article" : "website" %>">
    <meta property="og:description" content="<%= current_page.data.description ||
      is_blog_article? ? Nokogiri::HTML(current_page.summary(250)).text : t("head.default_description") %>">
    <meta property="og:image" content="<%= full_url(asset_url(current_page.data.image || "images/social/defacto-1200x630.png")) %>">
    <meta property="og:locale" content="<%= full_locale %>">

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "main" %>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= partial "google_analytics" unless development? %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "header" %>
    <div id="main" role="main">
      <%= yield %>
    </div>
    <%= partial "footer" %>

    <% if data.downloads.ebook[I18n.locale] && current_page.url != "/blog/" && !is_blog_article? %>
      <%= partial "popup-ebook" %>
    <% end %>

    <%= javascript_include_tag "all" %>

    <!-- Intercom -->
    <script>
      window.intercomSettings = { app_id: 'yb5mzq3j' };
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/yb5mzq3j';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
    </script>

    <!-- Google-code voor remarketingtag -->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 1008438803;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1008438803/?value=0&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>
  </body>
</html>
