---
title: 360 Feedback
description:
  nl: Moeiteloos evaluaties uitvoeren in een gebruiksvriendelijke cloudservice. Kijk in de spiegel met 360° Feedback.
  de: Das Tool für eine effiziente Personalentwicklung. 360° Feedback schafft Transparenz zwischen dem Vorgesetzten und seinen Mitarbeitern
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("threesixty.hero.title") %></h1>
      <%= markitdown t("threesixty.hero.text_md") %>
    </div>
    <a href="https://www.360feedback.io/app/register" target="_blank" class="button"><%= t("actions.try_for_free") %></a>
    <a href="https://www.360feedback.io" target="_blank" class="button white outline"><%= t("actions.visit_website") %></a>
  </div>
</div>

<%= partial "360-feedback/360feedback" %>

<section class="gray">
  <div class="row">
    <h3><%= markitdown t("threesixty.cta_bottom.heading_md") %></h3>
    <%= link_to t("actions.try_for_free"), "https://www.360feedback.io/app/register", target: "_blank", class: "button" %>
  </div>
</section>

<%#= partial "testimonials" %>
<%= partial "clients" %>
