---
title: 360째 Feedback
description:
  nl: Moeiteloos evaluaties uitvoeren in een gebruiksvriendelijke cloudservice. Kijk in de spiegel met 360째 Feedback.
  de: Das Tool f체r eine effiziente Personalentwicklung. 360째 Feedback schafft Transparenz zwischen dem Vorgesetzten und seinen Mitarbeitern.
popup: false
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("threesixty.hero.title") %></h1>
      <%= markitdown t("threesixty.hero.text_md") %>
    </div>
    <a href="https://www.360feedback.io/app/register" target="_blank" class="button" data-event="hero_try"><%= t("actions.try_for_free") %></a>
  </div>
</div>

<%= partial "360-feedback/360feedback" %>

<section class="gray">
  <div class="row">
    <h3><%= markitdown t("threesixty.cta_bottom.heading_md") %></h3>
    <%= link_to t("actions.try_for_free"), "https://www.360feedback.io/app/register", target: "_blank", "data-event": "footer_try", class: "button" %>
  </div>
</section>

<%= partial "clients/clients" %>
