---
title: Pagina niet gevonden - Defacto
directory_index: false
---

<% if is_default_locale?
  # Redirect to localized error page when needed
  error_pages = {}
  (langs - [I18n.locale]).each do |lang|
    error_pages[lang] = locale_url_for(current_path, locale: lang)
  end
  %>
  <script>
  try {
    var error_pages = JSON.parse('<%= error_pages.to_json.html_safe %>');
    var lang = window.location.pathname.replace(/^\//, '').split('/')[0];
    error_pages[lang] && window.location.replace(error_pages[lang]);
  } catch (error) {}
  </script>
<% end %>

<section class="gray">
  <div class="row">
    <%= image_tag "warning.gif", class: "header-icon" %>
    <h1><%= t("error.heading") %></h1>
    <p><%= markitdown t("error.text_md") %></p>
  </div>
</section>

<%= partial "contact-info" %>
