<section class="gray clients">

  <div class="logos">
    <%= image_tag 'clients/lumc.gif', alt: 'LUMC' %>
    <%= image_tag 'clients/sfg.gif', alt: 'Sint Franciscus Gasthuis' %>
    <%= image_tag 'clients/szw.gif', alt: 'Ministerie van Sociale Zaken en Werkgelegenheid' %>
    <%= image_tag 'clients/phoenix.gif', alt: 'Phoenix opleidingen' %>
    <%= image_tag 'clients/duo.gif', alt: 'Dienst Uitvoering Onderwijs' %>
    <%= image_tag 'clients/tui.gif', alt: 'TUI Nederland' %>
  </div>

</section>
