<div class="clients">
 <!--  <div class="headline">
    <p class="sub-headline">
      Since 1987, our products &amp; services have helped our clients (and ourselves) to get things done.
    </p>
  </div> -->

  <div class="logos">
    <%= image_tag 'clients/lumc.gif', :alt => 'LUMC' %>
    <%= image_tag 'clients/sfg.gif', :alt => 'Sint Franciscus Gasthuis' %>
    <%= image_tag 'clients/szw.png', :alt => 'Ministerie van Sociale Zaken en Werkgelegenheid' %>
    <%= image_tag 'clients/phoenix.jpg', :alt => 'Phoenix opleidingen' %>
    <%= image_tag 'clients/duo.png', :alt => 'Dienst Uitvoering Onderwijs' %>
    <%= image_tag 'clients/tui.png', :alt => 'TUI Nederland' %>
  </div>
</div>
