<div class="clients">
 <!--  <div class="headline">
    <p class="sub-headline">
      Since 1987, our products &amp; services have helped our clients (and ourselves) to get things done.
    </p>
  </div> -->

  <div class="logos">
    <%= image_tag 'clients/kpn.jpg', :alt => 'KPN' %>
    <%= image_tag 'clients/achmea.jpg', :alt => 'Achmea' %>
    <%= image_tag 'clients/zinn.jpg', :alt => 'ZINN' %>
    <%= image_tag 'clients/unit4.jpg', :alt => 'UNIT4' %>
    <%= image_tag 'clients/uwv.jpg', :alt => 'UWV' %>
    <%= image_tag 'clients/maandag.jpg', :alt => 'Maandag' %>
  </div>
</div>
