<div id="clients">
  <div class="logos">
    <%= image_tag 'logos/kpn.jpg', :alt => 'KPN' %>
    <%= image_tag 'logos/achmea.jpg', :alt => 'Achmea' %>
    <%= image_tag 'logos/zinn.jpg', :alt => 'ZINN' %>
    <%= image_tag 'logos/unit4.jpg', :alt => 'UNIT4' %>
    <%= image_tag 'logos/uwv.jpg', :alt => 'UWV' %>
    <%= image_tag 'logos/maandag.jpg', :alt => 'Maandag' %>
  </div>
</div>
