<section class="gray cta-appointment">
  <div class="row">
    <h3>
      <%= t("home.cta.text_html") %>
      <button class="button outline appointment-button" ><%= t("home.cta.button") %></button>
    </h3>
    <% t("formkeep_url") %>
    <form class="form-inline" accept-charset="UTF-8" action="<%= t("links.formkeep_url") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="Afspraak maken">
      <input type="text" name="name" placeholder="<%= t("form.name") %>">
      <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
      <button type="submit"><%= t("actions.make_appointment") %></button>
    </form>

  </div>
</section>
