<footer id="footer">
  <div class="row">
    <div class="col">
      <h6>Producten</h6>
      <ul>
        <li><%= locale_link_to "CAPP Leren & Ontwikkelen", "/capp" %></li>
        <li><%= locale_link_to "Kwaliteitspaspoort", "/kwaliteitspaspoort" %></li>
        <li><%= locale_link_to "E-Learning Starterkit", "/elearning-starterkit" %></li>
        <li><%= locale_link_to "LearningSpaces", "/learningspaces" %></li>
        <li><%= locale_link_to "360°-Feedback", "/360" %></li>
      </ul>
    </div>

    <div class="col">
      <h6>Diensten</h6>
      <ul>
        <li><%= locale_link_to "E-Learning", "/elearning" %></li>
        <li><%= locale_link_to "Implementaties", "/implementaties" %></li>
        <li><%= locale_link_to "Hosting & Security", "/hosting" %></li>
        <li><%= locale_link_to "Koppelingen", "/koppelingen" %></li>
      </ul>
    </div>

    <div class="col">
      <h6>Defacto</h6>
      <ul>
        <li><%= locale_link_to "Over ons", "/over-ons" %></li>
        <li><%= locale_link_to "Testimonials", "/testimonials" %></li>
        <li><%= locale_link_to "Referenties", "/referenties" %></li>
        <li><%= locale_link_to "Blog", "/blog/" %></li>
        <li><%= locale_link_to "Jobs", "http://jobs.defacto.nl" %></li>
        <li><%= locale_link_to "Contact", "/contact" %></li>
      </ul>
    </div>

    <div class="col">
      <h6>Contact</h6>
      Zuiderpark 3<br>
      9724 AD Groningen<br>
      <br>
      T +31 (0)50 3144832<br>
      <a href="mailto:info@defacto.nl">info@defacto.nl</a><br>
      <br>
      <ul class="social-links">
        <li><a href="https://twitter.com/DefactoSoftware" target="_blank" title="Twitter" class="icon-twitter"></a></li>
        <li><a href="https://www.linkedin.com/company/489640" target="_blank" title="LinkedIn" class="icon-linkedin"></a></li>
        <li><a href="https://github.com/DefactoSoftware" target="_blank" title="GitHub" class="icon-github"></a></li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <div class="row">
      <%= t("footer.copyright_html", { year: Time.now.year }) %>
    </div>
  </div>
</footer>
