<footer>
  <div>
    <div class="row">

      <div class="col">
        <h6>Oplossingen</h6>
        <ul>
          <li><%= link_to "CAPP Leren & Ontwikkelen", "capp.html" %></li>
          <li><%= link_to "Kwaliteitspaspoort", "kwaliteitspaspoort.html" %></li>
          <li><%= link_to "E-Learning Starterkit", "elearning-starter-kit.html" %></li>
          <li><%= link_to "LearningSpaces", "learningspaces.html" %></li>
          <li><%= link_to "360°-Feedback", "360.html" %></li>
        </ul>
      </div>

      <div class="col">
        <h6>Diensten</h6>
        <ul>
          <li><%= link_to "E-Learning", "elearning.html" %></a></li>
          <li><%= link_to "Implementaties", "implementaties.html" %></a></li>
          <li><%= link_to "Techniek & Security", "technisch.html" %></a></li>
        </ul>
      </div>

      <div class="col">
        <h6>Markten</h6>
        <ul>
          <li><%= link_to "Zorg", "zorg.html" %></li>
          <li><%= link_to "Overheid", "overheid.html" %></li>
          <li><%= link_to "Bedrijfsleven", "bedrijfsleven.html" %></li>
        </ul>
      </div>

      <div class="col">
        <h6>Defacto</h6>
        <ul>
          <li><%= link_to "Over ons", "over-ons.html" %></li>
          <li><%= link_to "Contact", "contact.html" %></li>
          <!-- <li><%= link_to "Testimonials", "#" %></li> -->
          <!-- <li><%= link_to "Blog", "#" %></li> -->
          <li><%= link_to "Jobs", "http://jobs.defacto.nl" %></a></li>
        </ul>
      </div>



    </div>
  </div>

  <div class="copyright">
    <div class="row">
      &copy; 1987 - <%= Time.now.year %> Defacto
    </div>
  </div>
</footer>
