<footer id="footer">
  <div class="row">
    <div class="col">
      <h6><%= link_to t("header.products"), "/producten.html" %></h6>
      <ul>
        <li><%= link_to t("footer.capp"), "/capp-lms.html" %></li>
        <li><%= link_to t("kwaliteitspaspoort.name"), "/kwaliteitspaspoort.html" %></li>
        <li><%= link_to t("elearning_starterkit.name"), "/e-learning-starterkit.html" %></li>
        <li><%= link_to t("learningspaces.name"), "/learningspaces.html" %></li>
        <li><%= link_to t("threesixty.name"), "/360-feedback.html" %></li>
      </ul>
    </div>

    <div class="col">
      <h6><%= link_to t("header.services"), "/diensten.html" %></h6>
      <ul>
        <li><%= link_to t("services.services.elearning.name"), "/e-learning.html" %></li>
        <li><%= link_to t("services.services.implementaties.name"), "/implementaties.html" %></li>
        <li><%= link_to t("services.services.hosting.name"), "/hosting-security.html" %></li>
        <li><%= link_to t("services.services.koppelingen.name"), "/koppelingen.html" %></li>
        <% if I18n.locale == :nl %>
          <li><%= link_to t("footer.cmt"), "/convenant-medische-technologie.html" %></li>
        <% end %>
      </ul>
    </div>

    <div class="col">
      <h6><%= link_to "Defacto", "/over-ons.html" %></h6>
      <ul>
        <li><%= link_to t("header.about"), "/over-ons.html" %></li>
        <li><%= link_to t("about.testimonials"), "/testimonials.html" %></li>
        <li><%= link_to t("about.references"), "/referenties.html" %></li>
        <li><%= link_to t("about.press"), "/media.html" %></li>
        <li><%= link_to t("header.blog"), "/blog/" %></li>
        <li><%= link_to t("footer.jobs"), "http://jobs.defacto.nl" %></li>
        <li><%= link_to t("header.contact"), "/contact.html" %></li>
      </ul>
    </div>

    <div class="col contact">
      <h6><%= link_to t("header.contact"), "/contact.html" %></h6>
      <p>
        Zuiderpark 3<br>
        9724 AD Groningen<br>
        <%= t("footer.country") %>
      </p><p>
        T&nbsp;&nbsp;<a href="tel:<%= t("contact.phone_link") %>" class="phone"><%= t("contact.phone") %></a><br>
        E&nbsp;&nbsp;<a href="mailto:<%= t("contact.email") %>"><%= t("contact.email") %></a>
      </p>
      <ul class="social-links">
        <li><a href="https://twitter.com/DefactoSoftware" target="_blank" title="Twitter" class="icon-twitter" data-event="footer-twitter"></a></li>
        <li><a href="https://www.linkedin.com/company/489640" target="_blank" title="LinkedIn" class="icon-linkedin" data-event="footer-linkedin"></a></li>
        <li><a href="https://www.xing.com/companies/defactosoftware" target="_blank" title="Xing" class="icon-xing" data-event="footer-xing"></a></li>
        <li><a href="https://github.com/DefactoSoftware" target="_blank" title="GitHub" class="icon-github" data-event="footer-github"></a></li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <div class="row">
      <%= t("footer.copyright_html", { year: Time.now.year }) %>
    </div>
  </div>
</footer>

<%= partial "json_ld" if current_page.url == "/" %>
