<footer id="footer">
  <div class="row">
    <div class="col">
      <h6><%= t("header.products") %></h6>
      <ul>
        <li><%= locale_link_to t("footer.capp"), "/capp.html" %></li>
        <li><%= locale_link_to t("kwaliteitspaspoort.name"), "/kwaliteitspaspoort.html" %></li>
        <li><%= locale_link_to t("elearning_starterkit.name"), "/elearning-starterkit.html" %></li>
        <li><%= locale_link_to t("learningspaces.name"), "/learningspaces.html" %></li>
        <li><%= locale_link_to t("threesixty.name"), "/360.html" %></li>
      </ul>
    </div>

    <div class="col">
      <h6><%= t("header.services") %></h6>
      <ul>
        <li><%= locale_link_to t("services.services.elearning.name"), "/elearning.html" %></li>
        <li><%= locale_link_to t("services.services.implementaties.name"), "/implementaties.html" %></li>
        <li><%= locale_link_to t("services.services.hosting.name"), "/hosting.html" %></li>
        <li><%= locale_link_to t("services.services.koppelingen.name"), "/koppelingen.html" %></li>
      </ul>
    </div>

    <div class="col">
      <h6>Defacto</h6>
      <ul>
        <li><%= locale_link_to t("header.about"), "/over-ons.html" %></li>
        <li><%= locale_link_to t("about.testimonials"), "/testimonials.html" %></li>
        <li><%= locale_link_to t("about.references"), "/referenties.html" %></li>
        <li><%= locale_link_to t("header.blog"), "/blog/" %></li>
        <li><%= locale_link_to t("footer.jobs"), "http://jobs.defacto.nl" %></li>
        <li><%= locale_link_to t("header.contact"), "/contact.html" %></li>
      </ul>
    </div>

    <div class="col contact">
      <h6><%= t("header.contact") %></h6>
      <%= t("footer.contact") %>
      <ul class="social-links">
        <li><a href="https://twitter.com/DefactoSoftware" target="_blank" title="Twitter" class="icon-twitter"></a></li>
        <li><a href="https://www.linkedin.com/company/489640" target="_blank" title="LinkedIn" class="icon-linkedin"></a></li>
        <li><a href="https://github.com/DefactoSoftware" target="_blank" title="GitHub" class="icon-github"></a></li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <div class="row">
      <%= t("footer.copyright_html", { year: Time.now.year }) %>
    </div>
  </div>
</footer>
