<footer>
    <div id="map-canvas"></div>
    <div class="contact-form">
        <form action="#" method="POST">
            <input type="text" name="name" placeholder="<%= t(:name) %>">
            <input type="text" name="company" placeholder="<%= t(:organization) %>">
            <input type="text" name="phone" placeholder="<%= t(:phone) %>">
            <input type="text" name="email" placeholder="<%= t(:email) %>">
            <textarea name="message" placeholder="<%= t(:message) %>"></textarea>
            <input type="submit" name="submit" value="<%= t(:send) %>" class="btn">
        </form>
    </div>
</footer>
