<div class="header-image">

  <header class="morph-dropdown">

    <div class="logo">

      <% if current_page.url == "/" %>
        <%= link_to image_tag("logos/defacto-invert.svg", alt: "Defacto",
         onerror: "this.src='/images/logos/defacto-wit.png'; this.onerror=null;"), "/" %>
      <% else %>
        <%= link_to image_tag("logos/defacto.svg", alt: "Defacto",
         onerror: "this.src='/images/logos/defacto.png'; this.onerror=null;"), "/" %>
      <% end %>

    </div>

    <a href="#" class="nav-trigger"><span aria-hidden="true"></span></a>

		<nav class="main-nav">

			<ul>
        <li>
          <%= nav_link_to t("header.home"), "/" %>
        </li>
				<li class="has-dropdown gallery" data-content="products">
					<%= nav_link_to t("header.products"), "/producten.html" %>
				</li>

				<li class="has-dropdown links" data-content="services">
					<%= nav_link_to t("header.services"), "/diensten.html" %>
				</li>

        <li class="has-dropdown links" data-content="about-us">
					<%= nav_link_to t("header.about"), "/over-ons.html" %>
				</li>

        <li>
          <%= nav_link_to t("header.blog"), "/blog/index.html" %>
        </li>

				<li>
					<%= nav_link_to t("header.contact"), "/contact.html" %>
				</li>

        <li class="flags">
          <%= country_flags %>
          <%= link_to image_tag("flags/en.gif", alt: "English"), "http://en.defacto.nl", target: "_blank" %>
        </li>
			</ul>

		</nav>

		<div class="morph-dropdown-wrapper">
			<div class="dropdown-list">
				<ul>

					<li id="products" class="dropdown gallery">

            <%= nav_link_to t("header.products"), "/producten.html", class: "label" %>

						<div class="content">
							<ul>
  						  <% if root_locale == :nl %>
                    <li>
                      <% locale_link_to("/capp-lms.html", { class: 'nav-link nav-capp' }) do %>
                        <em><%= t("footer.capp") %></em>
                        <span><%= t("nav.capp-lms") %></span>
                      <% end %>
                    </li>
                  <% end %>

                  <% if root_locale == :de %>
                    <li>
                      <% locale_link_to("/capp-bilden.html", { class: 'nav-capp' }) do %>
                        <em><%= t("footer.capp.learn") %></em>
                        <span><%= t("nav.capp-learn") %></span>
                      <% end %>
                    </li>

                    <li>
                      <% locale_link_to("/capp-develop.html", { class: 'nav-develop' }) do %>
                        <em><%= t("footer.capp.develop") %></em>
                        <span><%= t("nav.capp-develop") %></span>
                      <% end %>
                    </li>
                  <% end %>

								<li>
                  <% locale_link_to("/kwaliteitspaspoort.html", { class: 'nav-kwaliteitspaspoort' }) do %>
                    <em><%= t("kwaliteitspaspoort.name") %></em>
                    <span><%= t("nav.kwaliteitspaspoort") %></span>
                  <% end %>
								</li>

								<li>
                  <% locale_link_to("/learningspaces.html", { class: 'nav-learningspaces' }) do %>
                    <em><%= t("learningspaces.name") %></em>
                    <span><%= t("nav.learningspaces") %></span>
                  <% end %>
								</li>

								<li>
                  <% locale_link_to("/e-learning-starterkit.html", { class: 'nav-elearning-starterkit' }) do %>
                    <em><%= t("elearning_starterkit.name") %></em>
                    <span><%= t("nav.starterkit") %></span>
                  <% end %>
								</li>

                <li>
                  <% locale_link_to("/360-feedback.html", { class: 'nav-360-feedback' }) do %>
                    <em><%= t("threesixty.name") %></em>
                    <span><%= t("nav.threesixty") %></span>
                  <% end %>
                </li>
							</ul>

						</div>
					</li>

					<li id="services" class="dropdown links">
						<%= nav_link_to t("header.services"), "/diensten.html", class: "label" %>

						<div class="content">
							<ul>
								<li>
									<h2><%= t("header.services") %></h2>

									<ul class="links-list">
                    <li><%= link_to t("services.services.elearning.name"), "/e-learning.html" %></li>
                    <li><%= link_to t("services.services.implementaties.name"), "/implementaties.html" %></li>
                    <% if I18n.locale == :de %>
                      <li><%= link_to t("services.services.hosting.name"), "/hosting.html" %></li>
                    <% elsif root_locale == :nl %>
                      <li><%= link_to t("services.services.hosting.name"), "/hosting-security.html" %></li>
                    <% end %>
                    <li><%= link_to t("services.services.koppelingen.name"), "/koppelingen.html" %></li>
                    <% if I18n.locale == :nl %>
                      <li><%= link_to t("footer.cmt"), "/convenant-medische-technologie.html" %></li>
                    <% end %>
									</ul>
								</li>
							</ul>
						</div>
					</li>

          <li id="about-us" class="dropdown links">
					  <%= nav_link_to t("header.about"), "/over-ons.html", class: "label" %>

						<div class="content">
							<ul>
								<li>
									<h2><%= t("header.about") %></h2>

									<ul class="links-list">
                    <li><%= link_to t("about.testimonials"), "/testimonials.html" %></li>
                    <li><%= link_to t("about.references"), "/referenties.html" %></li>
                    <li><%= link_to t("about.press"), "/media.html" %></li>
                    <li><%= link_to t("footer.jobs"), "http://jobs.defacto.nl" %></li>
                    <li><%= link_to t("header.contact"), "/contact.html" %></li>
									</ul>
								</li>
							</ul>
						</div>
					</li>

          <li id="flags" class="dropdown flags">
            <%= country_flags %>
            <%= link_to image_tag("flags/en.gif", alt: "English"), "http://en.defacto.nl", target: "_blank" %>
          </li>

				</ul>
        <div class="bg-layer" aria-hidden="true"></div>
			</div>
		</div>
	</header>

  <% if current_page.url == "/" %>
    <div class="hero">
      <div class="hero-inner">
        <div class="hero-copy">
          <h1><%= t("home.hero.title") %></h1>
          <h2><%= t("home.hero.text") %></h2>
          <%= nav_link_to t("actions.home.demo"), "/demo-aanvragen.html", "data-event": "home_demo", class: "button" %>
          <%= nav_link_to t("actions.home.productsheet"), "/productsheet-downloaden.html", "data-event": "home_produktblatt", class: "button white outline" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
