<header>
    <a class="logo" href="index.html" title="Defacto">
        <img src="images/logo.png" alt="Defacto" title="Defacto" width="205" height="34">
    </a>

    <div class="phone">
        <a href="tel:+31503144832">050 314 48 32</a>
    </div>

    <nav class="primary-nav">
        <ul>
            <li><%= nav_path(t(:home), "/") %></li>
            <li>
                <%= nav_path(t(:solutions), "#") %>
            </li>
            <li>
                <%= nav_path(t(:markets), "#") %>
                <ul>
                    <li><a href="healthcare.html"><%= t(:healthcare_title) %></a></li>
                    <li><a href="government.html"><%= t(:government_title) %></a></li>
                    <li><a href="business.html"><%= t(:business_title) %></a></li>
                </ul>
            </li>
            <li><%= nav_path(t(:about), "/about-us.html") %></li>
            <li><%= nav_path(t(:blog), "/blog.html") %></li>
        </ul>
        <a href="#" id="pull"><%= t(:menu) %></a>
    </nav>
</header>
