<header id="header">
  <div class="header-wrapper">
    <div class="logo">
      <%= locale_link_to image_tag("logos/defacto.svg", alt: "Defacto",
         onerror: "this.src='/images/logos/defacto.png'; this.onerror=null;"), "/" %>
    </div>
    <button type="button" class="header-menu-button" id="mobile-menu-toggle">
      <span class="bar"></span><span class="bar"></span><span class="bar"></span>
    </button>
    <nav class="nav" role="navigation">
      <ul id="header-menu">
        <li><%= nav_link_to t("header.home"), "/" %></li>
        <li><%= nav_link_to t("header.products"), "/producten.html" %></li>
        <li><%= nav_link_to t("header.services"), "/diensten.html" %></li>
        <li><%= nav_link_to t("header.about"), "/over-ons.html" %></li>
        <li><%= nav_link_to t("header.blog"), "/blog" %></li>
        <li><%= nav_link_to t("header.contact"), "/contact.html" %></li>
        <li class="flags">
          <%
          flag_titles = {
            nl: "Nederlands",
            de: "Deutsch",
            en: "English"
          }

          (langs - [I18n.locale]).each do |lang| %>
            <%=
            url = locale_url_for(current_page.url, { lang: lang })
            img = image_tag("flags/#{lang}.gif", alt: flag_titles[lang])
            link_to(img, url, title: flag_titles[lang])
            %>
          <% end %>

          <%= link_to image_tag("flags/en.gif", alt: "English"), "http://en.defacto.nl", target: "_blank" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
