<header id="header">
  <div class="header-wrapper">
    <div class="logo">
      <%= link_to image_tag('logos/defacto.svg', :alt => 'Defacto'), '/index.html' %>
    </div>
    <button type="button" class="header-menu-button" id="mobile-menu-toggle">
      <span class="bar"></span><span class="bar"></span><span class="bar"></span>
    </button>
    <nav class="nav" role="navigation">
      <ul id="header-menu">
        <li><%= nav_link_to t(:home), "/index.html" %></li>
        <li><%= nav_link_to t(:solutions), "/producten.html" %></li>
        <li><%= nav_link_to "Diensten", "/diensten.html" %></li>
        <li><%= nav_link_to t(:about), "/over-ons.html" %></li>
        <li><%= nav_link_to t(:blog), "/blog" %></li>
        <li><%= nav_link_to t(:contact), "/contact.html" %></li>
      </ul>
    </nav>
  </div>
</header>
