<div class="header-image">
  <header class="header">
    <div class="header-wrapper">
      <div class="logo">

        <% if current_page.url == "/" %>
          <%= link_to image_tag("logos/defacto-invert.svg", alt: "Defacto",
           onerror: "this.src='/images/logos/defacto-wit.png'; this.onerror=null;"), "/" %>
        <% else %>
          <%= link_to image_tag("logos/defacto.svg", alt: "Defacto",
           onerror: "this.src='/images/logos/defacto.png'; this.onerror=null;"), "/" %>
        <% end %>

      </div>
      <button type="button" class="header-menu-button" id="js-header-menu-toggle">
        <span class="bar"></span><span class="bar"></span><span class="bar"></span>
      </button>
      <nav class="nav">
        <ul class="header-menu" id="js-header-menu">
          <li><%= nav_link_to t("header.home"), "/" %></li>
          <li><%= nav_link_to t("header.products"), "/producten.html" %></li>
          <li><%= nav_link_to t("header.services"), "/diensten.html" %></li>
          <li><%= nav_link_to t("header.about"), "/over-ons.html" %></li>
          <li><%= nav_link_to t("header.blog"), "/blog/index.html" %></li>
          <li><%= nav_link_to t("header.contact"), "/contact.html" %></li>
          <li class="flags">
            <%= country_flags %>
            <%= link_to image_tag("flags/en.gif", alt: "English"), "http://en.defacto.nl", target: "_blank" %>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <% if current_page.url == "/" %>
    <div class="hero">
      <div class="hero-inner">
        <div class="hero-copy">
          <h1><%= t("home.hero.text") %></h1>
        </div>
      </div>
    </div>
  <% end %>
</div>
