<header id="header">
  <div class="header-wrapper">
    <div class="logo">
      <%= link_to image_tag("logos/defacto.svg", alt: "Defacto",
         onerror: "this.src='/images/logos/defacto.png'; this.onerror=null;"), "/index.html" %>
    </div>
    <button type="button" class="header-menu-button" id="mobile-menu-toggle">
      <span class="bar"></span><span class="bar"></span><span class="bar"></span>
    </button>
    <nav class="nav" role="navigation">
      <ul id="header-menu">
        <li><%= nav_link_to t("header.home"), "/" %></li>
        <li><%= nav_link_to t("header.products"), "/producten" %></li>
        <li><%= nav_link_to t("header.services"), "/diensten" %></li>
        <li><%= nav_link_to t("header.about"), "/over-ons" %></li>
        <li><%= nav_link_to t("header.blog"), "/blog" %></li>
        <li><%= nav_link_to t("header.contact"), "/contact" %></li>
        <li class="flags">
          <%= link_to image_tag("flags/de.gif", alt: "Deutsch"), "http://de.defacto.nl", target: "_blank" %>
          <%= link_to image_tag("flags/en.gif", alt: "English"), "http://en.defacto.nl", target: "_blank" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
