<section id="highlights">

  <div class="wrap">
    <div class="row">
      <div class="col image">
        <img src="images/boek.png">
      </div>
      <div class="col">
        <h1><%= t(:"starter_kit_title") %></h1>
        <p><%= t(:"starter_kit_content") %></p>
        <p><a href="#" class="btn">Bestel de Starterkit</a> of <a href="#">meer weten</a></p>
      </div>
    </div>
  </div>

  <div class="wrap">
    <div class="row">
      <div class="col">
        <h1><%= t(:"capp_leren_title") %></h1>
        <p><%= t(:"capp_leren_content") %></p>
        <p><a href="#" class="btn">Yes!</a>
      </div>
      <div class="col image">
        <img src="images/bb.png">
      </div>
    </div>
  </div>

  <div class="wrap">
    <div class="row">
      <div class="col image">
        <img src="images/screen.png" style="width: 70%;">
      </div>
      <div class="col">
        <h1><%= t(:"kpp_title") %></h1>
        <p><%= t(:"kpp_content") %></p>
        <a href="#" class="btn">Bekijk hoe CAPP wordt ingezet bij zorginstellingen</a>
      </div>
    </div>
  </div>

  <div class="wrap">
    <div class="row">
      <div class="col">
        <h1>Kijk in de spiegel met 360&deg;-Feedback</h1>
        <p>Maak een efficiëntieslag in je HRD. 360° Feedback maakt het voor medewerkers doodeenvoudig hun zelfkennis te vergroten en ontwikkeldoelen op te stellen.</p>
        <p><a href="http://staging.360feedback.io" class="btn">360&deg;-Feedback gratis proberen</a> of <a href="360.html">meer weten?</a></p>
      </div>
      <div class="col image">
        <img src="images/360screen.png">
      </div>
    </div>
  </div>

</section>
