<div id="highlights">

    <div id="sk" class="row">
        <div class="col image">
            <div>
                <img src="images/boek.png">
            </div>
        </div>
        <div class="col">
            <h1><%= t(:"starter_kit_title") %></h1>

            <p><%= t(:"starter_kit_content") %></p>

            <p><a class="btn" href="javascript:void( window.open('http://form.jotformeu.com/form/41621653970354', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))">Begin nu</a> <span>of<span> <a href="#">meer weten?</a></p>
        </div>
        <div class="arrow"></div>
    </div>

    <div id="bc" class="row">
        <div class="col">
            <h1><%= t(:"capp_leren_title") %></h1>

            <p><%= t(:"capp_leren_content") %></p>
            <p><a class="btn" href="javascript:void( window.open('http://form.jotformeu.com/form/41622795217356', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))">Maak een business case</a></p>
        </div>
        <div class="col image">
        </div>
        <div class="arrow"></div>
    </div>

    <div id="kpp" class="row" >
        <div class="col image">
            <div>
                <img src="images/screen.png" style="width: 50%;">
            </div>
        </div>
        <div class="col">
            <h1><%= t(:"kpp_title") %></h1>

            <p><%= t(:"kpp_content") %></p>

            <p><a class="btn" href="javascript:void( window.open('http://form.jotformeu.com/form/41623107652347', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))">Begin nu met het behalen van je accreditaties</a></p>
        </div>
        <div class="arrow"></div>
    </div>

    <div id="dr" class="row">
        <div class="col">
            <h1>Kijk in de spiegel met 360&deg;-Feedback</h1>

            <p>Maak een efficiëntieslag in je HRD. 360° Feedback maakt het voor medewerkers doodeenvoudig hun zelfkennis te vergroten en ontwikkeldoelen op te stellen.</p>

           <p><a href="javascript:void( window.open('http://form.jotformeu.com/form/41622300224336', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))" class="btn">360° Feedback informatie aanvragen</a> <span>of</span> <a href="http://360feedback.io">meer weten?</a></p>
        </div>
        <div class="col image">
            <div>
                <img src="images/360screen.png">
            </div>
        </div>
    </div>

</div>
