<script src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<div id="map">
  <div id="map-canvas"></div>
  <div class="contact-form">
    <form accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="contact">
      <input type="text" name="name" placeholder="<%= t("contact.form.name") %>">
      <input type="text" name="company" placeholder="<%= t("contact.form.organization") %>">
      <input type="tel" name="phone" placeholder="<%= t("contact.form.phone") %>">
      <input type="email" name="email" placeholder="<%= t("contact.form.email") %>">
      <textarea name="message" placeholder="<%= t("contact.form.message") %>"></textarea>
      <button type="submit"><%= t("contact.form.submit") %></button>
    </form>
  </div>
</div>
