<section id="markets">
  <div class="wrap">

    <div class="row border">
      <div class="col green">
        <h2>
          <a href="healthcare.html" class="icon">
            <img src="images/healthcare-icon.png" alt="Topzorg icon" title="Topzorg">
          </a>
          <a href="healthcare.html"><%= t(:healthcare_title) %></a>
        </h2>
        <p>
          <%= t(:healthcare_content_html) %>
          <a href="healthcare.html">Lees verder...</a>
        </p>
      </div>
      <div class="col blue">
        <h2>
          <a href="government.html" class="icon">
            <img src="images/government-icon.png" alt="Overheid icon" title="Overheid">
          </a>
          <a href="government.html"><%= t(:government_title) %></a>
        </h2>
        <p>
          <%= t(:government_content) %>
          <a href="government.html">Lees verder...</a>
        </p>
      </div>
      <div class="col red">
        <h2>
          <a href="business.html" class="icon">
            <img src="images/business-icon.png" alt="Bedrijfsleven icon" title="Bedrijfsleven">
          </a>
          <a href="business.html"><%= t(:business_title) %></a>
        </h2>
        <p>
          <%= t(:business_content) %>
          <a href="government.html">Lees verder...</a>
        </p>
      </div>
    </div>

  </div>
</section>
