<div id="branches">
    <div class="section-header">
        <p class="center">
            <%= t(:markets_intro) %>
        </p>
    </div>
    <div class="row border">
        <div class="col green">
            <a href="healthcare.html"><img src="images/zorg-icon.png" alt="Topzorg icon" title="Topzorg"></a>
            <h2><a href="healthcare.html"><%= t(:healthcare_title) %></a></h2>
            <p>
                <%= t(:healthcare_content_html) %>
                <a href="healthcare.html">Meer weten?</a>
            </p>
        </div>
        <div class="col blue">
            <a href="government.html"><img src="images/overheid-icon.png" alt="Overheid icon" title="Overheid"></a>
            <h2><a href="government.html"><%= t(:government_title) %></a></h2>
            <p>
                <%= t(:government_content) %>
                <a href="government.html">Lees verder...</a>
            </p>
        </div>
        <div class="col red">
            <a href="business.html"><img src="images/bedrijfsleven-icon.png" alt="Bedrijfsleven icon" title="Bedrijfsleven"></a>
            <h2><a href="business.html"><%= t(:business_title) %></a></h2>
            <p>
                <%= t(:business_content) %>
                <a href="business.html">Meer...</a>
            </p>
        </div>
    </div>
</div>
