<div class="popup" id="popup-ebook">
  <a href="#" class="close">
    <%= image_tag "close.svg" %>
  </a>

  <div class="popup-header">
    <label for="popup-ebook-email">
      <h2 class="popup-title"><%= t("elearning_ebook.heading_html") %></h2>
      <%= image_tag "book-#{I18n.locale.to_s}.png", alt: t("elearning_ebook.image_alt") %>
    </label>
  </div>

  <div class="popup-bottom">
    <form accept-charset="UTF-8" action="<%= t("urls.ebook") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="<%= t("elearning_ebook.formkeep_title") %>">
      <input type="email" name="email" id="popup-ebook-email" placeholder="<%= t("form.email") %>" required>
      <input type="hidden" name="download" value="<%= full_url(data.downloads.ebook[I18n.locale]) %>">
      <button type="submit"><%= t("actions.download") %></button>
    </form>
  </div>
</div>
