<section class="product-highlights">

  <div class="col col-capp">
    <div class="inner">
      <div class="headline">
        <h2><%= locale_link_to "CAPP", "/capp.html" %></h2>
        <p class="sub-headline">
          <%= t("home.highlights.capp.text_html", link: locale_link_to("CAPP LMS", "/capp.html")) %>
        </p>
      </div>
      <%= locale_link_to t("actions.read_more"), "/capp.html", class: "button white outline" %>
    </div>
  </div>

  <div class="col col-ls">
    <div class="inner">
      <div class="headline">
        <% locale_link_to "/learningspaces.html" do %>
          <%= image_tag "logos/learningspaces-white.png", title: "LearningSpaces", alt: "LearningSpaces" %>
        <% end %>
        <p class="sub-headline">
          <%= t("home.highlights.learningspaces.text_html", link: locale_link_to("LearningSpaces", "/learningspaces.html")) %>
        </p>
      </div>
      <%= locale_link_to t("actions.read_more"), "/learningspaces.html", class: "button white outline" %>
      <%= link_to t("actions.visit_website"), "http://www.learningspaces.nl", target: "_blank", class: "button white outline" %>
    </div>
  </div>

</section>
