<section class="product-highlights">

  <div class="col col-capp">
    <div class="inner">
      <div class="headline">
        <h2><%= link_to "CAPP", "/capp.html" %></h2>
        <p class="sub-headline">
          <%= link_to "CAPP LMS", "/capp.html" %> zorgt er voor dat uw medewerkers op eenvoudige en doeltreffende wijze leren en hun talenten ontwikkelen.
        </p>
      </div>
      <%= link_to "Lees verder", "/capp.html", class: "button white outline" %>
    </div>
  </div>

  <div class="col col-ls">
    <div class="inner">
      <div class="headline">
        <% link_to "/learningspaces.html" do %>
          <%= image_tag 'logos/learningspaces-white.png', title: 'LearningSpaces', alt: 'LearningSpaces' %>
        <% end %>
        <p class="sub-headline">
          <%= link_to "LearningSpaces", "/learningspaces.html" %> is een laagdrempelig social-learning platform dat leren en kennisdeling stimuleert.
        </p>
      </div>
      <%= link_to "Lees verder", "/learningspaces.html", class: "button white outline" %>
      <a href="http://www.learningspaces.io" target="_blank" class="button white outline">Bezoek de website</a>
    </div>
  </div>

</section>
