<div class="between-block">
    <div id="references">
        <div class="reference">
            <h2><%= t(:others_title) %></h2>
            <p>
                <img src="images/quote-icon.png" alt="" title="">
                <%= t(:others_quote) %>
                <br>
                <br>
                <span>- <%= t(:others_name) %></span>
            </p>
        </div>
    </div>

    <div id="cases">
        <div class="case">
            <h2><%= t(:case_title) %></h2>
            <p><%= t(:case_content) %></p>
            <a href="#leesmeer" class="btn secondary purple"><%= t(:case_call_to_action) %></a>
        </div>
    </div>
</div>
