<div id="" class="row border">
    <div id="references" class="col">
        <h2><%= t(:others_title) %></h2>
        <div class="reference">
            <p>
                <img src="images/quote-icon.png" alt="" title="">
                <%= t(:others_quote) %>
            </p>
            <span>- <%= t(:others_name) %></span></br>
            <strong><%= t(:others_title) %></strong>

        </div>
    </div>

    <div id="cases" class="col">
        <div class="case">
            <h2><%= t(:case_title) %></h2>
            <p><%= t(:case_content) %></p>
            <a href="#leesmeer" class="btn secondary purple"><%= t(:case_call_to_action) %></a>
        </div>
    </div>
</div>
