<% permalink_url = "http://www.defacto.nl#{current_page.url}" %>

<div class="social-share">
  <div class="title">
    Share this post:
  </div>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text=<%= URI.encode(current_page.title) %>&amp;url=<%= permalink_url %>&amp;via=DefactoSoftware"
         target="_blank"
         rel="nofollow"
         title="Share on Twitter"
         class="icon-twitter2"
         data-popup='{"width":550,"height":235}'>
        <span>Share on Twitter</span>
      </a>
    </li>
    <li>
      <a href="http://www.facebook.com/sharer.php?u=<%= permalink_url %>"
         target="_blank"
         rel="nofollow"
         title="Share on Facebook"
         class="icon-facebook"
         data-popup='{"width":580,"height":296}'>
        <span>Share on Facebook</span>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url=<%= permalink_url %>"
         target="_blank"
         rel="nofollow"
         title="Share on Google+"
         class="icon-google-plus"
         data-popup='{"width":490,"height":530}'>
        <span>Share on Google+</span>
      </a>
    </li>
    <li>
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= permalink_url %>&amp;title=<%= URI.encode(current_page.title) %>"
         target="_blank"
         rel="nofollow"
         title="Share on LinkedIn"
         class="icon-linkedin2"
         data-popup='{"width":550,"height":500}'>
        <span>Share on LinkedIn</span>
      </a>
    </li>
  </ul>
</div>
