
    <div id="solutions">
        <div class="">
            <div>
                <h2><%= t(:solutions_title) %></h2>
                <div class="slide-text right-box">
                    <p><%= t(:solutions_content) %></p>
                    <a href="#leesmeer" class="btn secondary"><%= t(:solutions_call_to_action) %></a>
                </div>
            </div>
            <div class="slide cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; display: block; opacity: 1;">
                <h2><%= t(:solutions_title) %></h2>
                <img src="images/screen.png" alt="" title="">
                <div class="slide-text right-box">
                    <p><%= t(:solutions_content) %></p>
                    <a href="#leesmeer" class="btn secondary"><%= t(:solutions_call_to_action) %></a>
                </div>
            </div>
            <div id="cycle-custom-pager">
                <a href="#" class="">CAPP Leren</a>
                <a href="#" class="">360&deg;feedback</a>
                <a href="#" class="">learning spaces</a>
            </div>
        </div>
        </div>

    </div>
