<section class="feature-list four solutions-overview">
  <div class="row">
    <div class="headline">
      <h2><%= t("home.solutions.headline") %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= locale_link_to image_tag("icons/leren-blue.png", alt: t("home.solutions.learn.title")), "/capp.html" %>
      <h3><%= locale_link_to t("home.solutions.learn.title"), "/capp.html" %></h3>
      <p><%= t("home.solutions.learn.text_html", link: locale_link_to("CAPP", "/capp.html")) %></p>
    </div>

    <div class="col">
      <%= locale_link_to image_tag("icons/ontwikkelen-blue.png", alt: t("home.solutions.develop.title")), "/capp.html" %>
      <h3><%= locale_link_to t("home.solutions.develop.title"), "/capp.html" %></h3>
      <p><%= t("home.solutions.develop.text_html") %></p>
    </div>

    <div class="col">
      <%= locale_link_to image_tag("icons/borging-blue.png", alt: t("home.solutions.quality.title")), "/kwaliteitspaspoort.html" %>
      <h3><%= locale_link_to t("home.solutions.quality.title"), "/kwaliteitspaspoort.html" %></h3>
      <p><%= t("home.solutions.quality.text_html") %></p>
    </div>

    <div class="col">
      <%= locale_link_to image_tag("icons/informeel-green.png", alt: t("home.solutions.informal.title")), "/learningspaces.html" %>
      <h3><%= locale_link_to t("home.solutions.informal.title"), "/learningspaces.html" %></h3>
      <p><%= t("home.solutions.informal.text_html", link: locale_link_to("LearningSpaces", "/learningspaces.html")) %></p>
    </div>
  </div>

  <div class="feature-keywords">
    <div class="row">

      <div class="col">
        <ul class="dividers">
          <% t("home.solutions.learn.keywords").each do |keyword| %>
            <li><h4><%= keyword %></h4></li>
          <% end %>
        </ul>
      </div>

      <div class="col">
        <ul class="dividers">
          <% t("home.solutions.develop.keywords").each do |keyword| %>
            <li><h4><%= keyword %></h4></li>
          <% end %>
        </ul>
      </div>

      <div class="col">
        <ul class="dividers">
          <% t("home.solutions.quality.keywords").each do |keyword| %>
            <li><h4><%= keyword %></h4></li>
          <% end %>
        </ul>
      </div>

      <div class="col">
        <ul class="dividers">
          <% t("home.solutions.informal.keywords").each do |keyword| %>
            <li><h4><%= keyword %></h4></li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</section>
