<section class="solutions-overview">
  <div class="row">
    <div class="headline">
      <h2>Defacto helpt organisaties bij het ontwikkelen en certificeren van hun medewerkers</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= link_to image_tag("icons/leren-blue.png", alt: 'Leren'), "capp.html" %>
      <h3><%= link_to "Leren", "capp.html" %></h3>
      <p>
        De stille, krachtige motor van uw academie. Stroomlijn processen en bespaar tijd. Creëer inzicht met
        <%= link_to "CAPP", "capp.html" %> Leren.
      </p>
    </div>

    <div class="col">
      <%= link_to image_tag("icons/ontwikkelen-blue.png", alt: "Ontwikkelen"), "capp.html" %>
      <h3><%= link_to "Ontwikkelen", "capp.html" %></h3>
      <p>
        Geef medewerkers efficiënte tools voor hun ontwikkelprocessen en een overzichtelijk persoonlijk portfolio.
      </p>
    </div>

    <div class="col">
      <%= link_to image_tag("icons/borging-blue.png", alt: "Kwaliteitspaspoort"), "kwaliteitspaspoort.html" %>
      <h3><%= link_to "Kwaliteitspaspoort", "kwaliteitspaspoort.html" %></h3>
      <p>
        Real-time inzicht in vakbevoegdheid van uzelf, uw team en uw organisatie. Voldoe permanent en zichtbaar aan de (formele) kwaliteitseisen.
      </p>
    </div>

    <div class="col">
      <%= link_to image_tag("icons/informeel-green.png", alt: "Informeel Leren"), "learningspaces.html" %>
      <h3><%= link_to "Informeel Leren", "learningspaces.html" %></h3>
      <p>
        <%= link_to "LearningSpaces", "learningspaces.html" %> is een laagdrempelig sociaal leerplatform dat kennisdeling en leren en stimuleert.
      </p>
    </div>
  </div>

  <div class="row solutions-overview-keywords">
    <div class="col">
      <ul>
        <li><h4>Opleidingsadministratie</h4></li>
        <li><h4>Leermanagament</h4></li>
        <li><h4>E-Learning / ELO</h4></li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li><h4>360° feedback</h4></li>
        <li><h4>Compententies</h4></li>
        <li><h4>Jaargesprekken</h4></li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li><h4>Kwaliteitsmonitor altijd actueel </h4></li>
        <li><h4>Accrediteren</h4></li>
        <li><h4>Certificeren</h4></li>
        <li><h4>Managementinformatie</h4></li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li><h4>Direct aan de slag met Learning Communities</h4></li>
        <li><h4>Snel en eenvoudig kennis delen </h4></li>
        <li><h4>Kennis produceren en consumeren </h4></li>
      </ul>
    </div>
  </div>
</section>
