<section class="solutions-overview">
  <div class="headline">
    <h2>Defacto helpt organisaties bij het ontwikkelen van hun medewerkers.</h2>
  </div>

  <div class="row">

    <div class="col">
      <a href="#"><%= image_tag 'icons/leren-blue.png' %></a>
      <h3><a href="#">Leren</a></h3>
      <p>
        De stille, krachtige motor van uw academie. Stroomlijn processen en bespaar tijd. Creëer inzicht met
        <%= link_to "CAPP", "capp.html" %> Leren.
      </p>
    </div>

    <div class="col">
      <a href="#"><%= image_tag 'icons/ontwikkelen-blue.png' %></a>
      <h3><a href="#">Ontwikkelen</a></h3>
      <p>
        Geef medewerkers efficiënte tools voor hun ontwikkelprocessen en een overzichtelijk persoonlijk portfolio.
      </p>
    </div>

    <div class="col">
      <a href="#"><%= image_tag 'icons/borging-blue.png' %></a>
      <h3><a href="#">Kwaliteitspaspoort</a></h3>
      <p>
        Real-time inzicht in vakbevoegdheid van uzelf, uw team en uw organisatie. Voldoe permanent en zichtbaar aan de (formele) kwaliteitseisen.
      </p>
    </div>

    <div class="col">
      <a href="#"><%= image_tag 'icons/informeel-green.png' %></a>
      <h3><a href="#">Informeel Leren</a></h3>
      <p>
        <%= link_to "LearningSpaces", "learningspaces.html" %> is een laagdrempelig sociaal leerplatform dat kennisdeling en leren en stimuleert.
      </p>
    </div>

  </div>
  <div class="row">

    <div class="col">
      <ul>
        <li><h4>Opleidingsadministratie</h4></li>
        <li><h4>Leermanagament</h4></li>
        <li><h4>E-Learning / ELO</h4></li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li><h4><a href="#">360 feedback</a></h4></li>
        <li><h4>Compententies</h4></li>
        <li><h4>Jaargesprekken</h4></li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li><h4>Managementinformatie</h4></li>
        <li><h4>Accrediteren</h4></li>
        <li><h4>Certificeren</h4></li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li><h4>Direct aan de slag met Learning Communities</h4></li>
        <li><h4>Ontwerp je eigen kenniskringen</h4></li>
        <li><h4>Snel en eenvoudig kennis delen </h4></li>
        <li><h4>Kennis produceren en consumeren </h4></li>
      </ul>
    </div>

  </div>
</section>
