<%
testimonials = data.testimonials

summary ||= false

if defined?(featured) && featured
  testimonials = testimonials.select { |item| item.featured? }
end

if defined?(count) && count.is_a?(Integer)
  testimonials = testimonials.take(count)
end
%>

<ul class="testimonial-list">
  <% testimonials.each do |testimonial|

    quote_index = data.testimonials.index(testimonial)
    quote_id = "testimonial-#{quote_index}"

    if summary
      quote = testimonial.summary? ? testimonial.summary : testimonial.quote
      quote_html = content_tag(:a, quote, href: url_for("/testimonials.html##{quote_id}"), class: "quote")
    else
      quote = testimonial.quote
      quote_html = content_tag(:div, quote, class: "quote")
    end
    %>

    <li id="<%= quote_id %>">
      <%= quote_html %>
      <div class="author">
        <%= image_tag testimonial.avatar, alt: testimonial.name, class: "avatar", alt: testimonial.name %>
        <div class="name"><%= testimonial.name %></div>
        <span class="company"><%= testimonial.company %></span>
      </div>
    </li>

  <% end %>
</ul>
