<%
testimonials = data[is_default_locale? ? "testimonials" : "testimonials_" + I18n.locale.to_s]
testimonials ||= data.testimonials

summary ||= false

if defined?(featured) && featured
  testimonials = testimonials.select { |item| item.featured? }
end

if defined?(count) && count.is_a?(Integer)
  testimonials = testimonials.take(count)
end
%>

<ul class="testimonial-list">
  <% testimonials.each do |testimonial|

    quote_index = testimonials.index(testimonial)
    quote_id = "testimonial-#{quote_index}"

    if summary
      quote = testimonial.summary? ? testimonial.summary : testimonial.quote
      quote_html = locale_link_to(quote, "/testimonials.html##{quote_id}", class: "quote")
    else
      quote = testimonial.quote
      quote_html = content_tag(:div, quote, class: "quote")
    end
    %>

    <li id="<%= quote_id %>">
      <%= quote_html %>
      <div class="author">

        <%=
        if testimonial.avatar
          image_tag testimonial.avatar, alt: testimonial.name, class: "avatar"
        else
          content_tag :div, "", class: "avatar no-image"
        end
        %>

        <div class="name"><%= testimonial.name %></div>
        <span class="company"><%= testimonial.company %></span>
      </div>
    </li>

  <% end %>
</ul>
