---
title:
  nl: Bedankt
  de: Danke Schön
  en: Thanks
track_conversion: true
---

<section class="gray">
  <div class="row">
    <%= image_tag "smile.gif", class: "header-icon" %>
    <h1><%= t("thanks.heading") %></h1>
    <h3>
      <p class="thanks-message"><%= t("thanks.message") %></p>
    </h3>
    <p>
      <b><a href="javascript:history.back()"><%= t("thanks.back") %></a></b>
    </p>
  </div>
</section>

<script>
  // Get URL parameters
  var urlParams = {};
  window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
    urlParams[key] = decodeURIComponent(value);
  });

  // Replace message with download message if it was a download form
  if (urlParams.download) {
    var downloadMessage = '<%= t("thanks.message_download") %>';
    $('body.bedankt .thanks-message')
      .html(downloadMessage)
      .find('a').attr('href', urlParams.download);
  }
</script>

<%= partial "contact-info" %>
