---
title:
  nl: Bedankt
  de: Danke Schön
  en: Thanks
track_conversion: true
---

<section class="gray">
  <div class="row">
    <%= image_tag "smile.gif", class: "header-icon" %>
    <h1><%= t("thanks.heading") %></h1>
    <h3><%= markitdown t("thanks.text_md") %></h3>
    <p>
      <b><a href="javascript:history.back()"><%= t("thanks.back") %></a></b>
    </p>
  </div>
</section>

<%= partial "contact-info" %>
