---
title:
  de: CAPP Entwickeln
description:
  de: CAPP Entwickeln ist eine Software für das Kompetenzmanagement und die Personalentwicklung.
unique_for_locale: true
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("capp.hero.develop.title") %></h1>
      <%= image_tag ("hero-capp-entwickeln.png"), title: "CAPP Entwickeln", alt: "CAPP Entwickeln" %>
    </div>
  </div>
</div>

<%= partial "capp/capp-entwickeln" %>

<section class="gray">
  <div class="row">
    <h2><%= markitdown t("capp.cta_bottom.heading_md") %></h2>
    <h3><%= t("capp.cta_bottom.subheading") %></h3>
    <br>

    <form class="form-inline" accept-charset="UTF-8" action="<%= t("urls.productsheet") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="<%= t("capp.hero.formkeep_title") %>">
      <input type="text" name="name" placeholder="<%= t("form.name") %>">
      <input type="text" name="organization" placeholder="<%= t("form.organization") %>">
      <input class="required" type="email" name="email" placeholder="<%= t("form.email") %>" required>
      <input type="hidden" name="download" value="<%= full_url(data.downloads.capp_productsheet[I18n.locale]) %>">
      <button type="submit"><%= t("actions.download_productsheet") %>&nbsp;&nbsp;<span class="icon-pdf"></span></button>
    </form>

  </div>
</section>

<%= partial "clients/clients" %>
