---
title:
  nl: Opleiden, Leren en Ontwikkelen met CAPP LMS
  de: Ausbildung, Lernen und Entwicklung mit CAPP LMS
description:
  nl: Maak medewerkers aantoonbaar vakbevoegd en vakbekwaam met CAPP LMS.
  de: CAPP LMS Software unterstützt Sie dabei das Können und Wissen Ihrer Mitarbeiter oder Kunden zu fördern.
---

<div class="hero">
  <div class="hero-inner">

    <div class="row">
      <div class="hero-header">
        <h1><%= t("capp.hero.title") %></h1>
      </div>
    </div>

    <div class="row">
      <div class="hero-copy col">
        <h2><%= t("capp.hero.subtitle_1") %></h2>
        <h2><%= t("capp.hero.subtitle_2") %></h2>
      </div>
      <div class="hero-image col">
        <%= image_tag t("capp.hero.image"), title: "CAPP LMS", alt: "CAPP LMS" %>
      </div>
    </div>
  </div>
</div>

<%= partial "capp/capp" %>

<section class="gray">
  <div class="row">
    <h2><%= markitdown t("capp.cta_bottom.heading_md") %></h2>
    <h3><%= t("capp.cta_bottom.subheading") %></h3>
    <br>

    <form class="form-inline" accept-charset="UTF-8" action="<%= t("urls.productsheet") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="<%= t("capp.hero.formkeep_title") %>">
      <input type="text" name="name" placeholder="<%= t("form.name") %>">
      <input type="text" name="organization" placeholder="<%= t("form.organization") %>">
      <input class="required" type="email" name="email" placeholder="<%= t("form.email") %>" required>
      <input type="hidden" name="download" value="<%= full_url(data.downloads.capp_productsheet[I18n.locale]) %>">
      <button type="submit"><%= t("actions.download_productsheet") %>&nbsp;&nbsp;<span class="icon-pdf"></span></button>
    </form>

  </div>
</section>

<%= partial "clients/clients" %>
