---
title: CAPP
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Opleiden & Leren met CAPP LMS</h1>
      <%= markdown(t("capp_description")) %>
    </div>
    <%= link_to "Demo", "capp.html", class: "button white outline" %>
    <%= link_to "Productsheets", "capp.html", class: "button white outline" %>
    <%= link_to "Maak een afspraak", "#", class: "button" %>
  </div>
</div>

<section class="capp-steps">
  <div class="row">

    <div class="headline" style="max-width: 1024px; margin-bottom: 4em;">
      <h3 style="font-size: 1.6em; line-height: 1.4; font-weight: 400; color: #888;">
        De basis van elke moderne digitale leeromgeving.<nr>
        Uitnodigend, betrouwbaar en super eenvoudig.
      </h3>
    </div>

    <div class="col">
      <%= image_tag 'icons/leren-blue.png' %>
      <h2>Leren</h2>
      <p>Bied uw deelnemers een unieke leerbeleving, met een rijk mix aan leervormen zowel klassikaal als via E-Learning en een eenvoudige leerproces.
      </p>
      <hr>
      <ul class="checklist">
        <li>Opleidingscatalogus</li>
        <li>Blended learning </li>
        <li>E-Learning omgeving </li>
        <li>Digitaal Leerportaal </li>
        <li>Cursusadministratie</li>
      </ul>
    </div>

    <div class="col">
      <%= image_tag 'icons/ontwikkelen-blue.png' %>
      <h2>Ontwikkelen</h2>
      <p>Speciaal om uw medewerkers te helpen bij hun persoonlijke en professionele ontwikkeling biedt CAPP Ontwikkelen enkele bijzondere instrumenten:</p>
      <hr>
      <ul class="checklist">
        <li>E-Portfolio</li>
        <li>Compententiemanagement</li>
        <li>Jaargesprekken</li>
      </ul>
    </div>

    <div class="col">
      <% link_to "kwaliteitspaspoort.html" do %>
        <%= image_tag 'icons/borging-blue.png' %>
        <h2>Kwaliteitspaspoort</h2>
      <% end %>
      <p>Een persoonsgebonden profiel waarin de bekwaamheden en bevoegdheden in één keer inzichtelijk zijn voor werknemer, werkgever en toezichthoudende instanties.
        <%= link_to "Meer over het Kwaliteitspaspoort", "kwaliteitspaspoort.html" %></p>
      <hr>
      <ul class="checklist">
        <li>Managementinformatie</li>
        <li>Accrediteren</li>
        <li>Certificeren</li>
      </ul>
    </div>

  </div>
</section>

<section class="gray">
  <div class="row">
    <h3>Samen een business case maken over hoeveel je kunt besparen met CAPP Leren?</h2>
    <p><a class="button" href="#">Vertel me meer</a></p>
  </div>
</section>


<%= partial "testimonials" %>
<%= partial "clients" %>
