---
title: CAPP LMS
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("capp.hero.title") %></h1>
      <%= markitdown t("capp.hero.text_md") %>

      <form class="form-inline" accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="form" value="<%= t("capp.hero.formkeep_title") %>">
        <input type="text" name="name" placeholder="<%= t("form.name") %>">
        <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
        <button type="submit"><%= t("actions.tell_me_more") %></button>
      </form>

    </div>
  </div>
</div>

<%= partial "capp/capp" %>

<section class="gray">
  <div class="row">
    <h3><%= markitdown t("capp.cta_bottom.heading_md") %></h3>
    <br>

    <form class="form-inline" accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="<%= t("capp.cta_bottom.formkeep_title") %>">
      <input type="text" name="name" placeholder="<%= t("form.name") %>">
      <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
      <button type="submit"><%= t("actions.make_appointment") %></button>
    </form>

  </div>
</section>

<%#= partial "testimonials" %>
<%= partial "clients" %>
