---
title: CAPP
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("capp_title") %></h1>
      <%= markdown(t("capp_description")) %>
    </div>
    <%= link_to "Demo", "capp.html", class: "button white outline" %>
    <%= link_to "Productsheets", "capp.html", class: "button white outline" %>
    <%= link_to "Maak een afspraak", "#", class: "button" %>
  </div>
</div>

<!-- <section class="gray">
  <div class="row">
    <h3 style="font-size: 1.6em; line-height: 1.4; font-weight: 400;">
      Door middel van zelf ontwikkelde software neemt Defacto drempels weg. Zo helpt CAPP Leren uw opleidingsadministratie te stroomlijnen en processen te innoveren. Stimuleert CAPP Ontwikkelen zelfontplooiing en creëert Kwaliteitspaspoort inzicht in de ontwikkeling en kwaliteit van uw medewerkers.
    </h3>
  </div>
</section> -->

<section class="capp-steps">
  <div class="row">

    <div class="headline" style="max-width: 1024px; margin-bottom: 4em;">
      <h3 style="font-size: 1.6em; line-height: 1.4; font-weight: 400; color: #888;">
        Door middel van zelf ontwikkelde software neemt Defacto drempels weg. Zo helpt CAPP Leren uw opleidingsadministratie te stroomlijnen en processen te innoveren. Stimuleert CAPP Ontwikkelen zelfontplooiing en creëert Kwaliteitspaspoort inzicht in de ontwikkeling en kwaliteit van uw medewerkers.
      </h3>
    </div>

    <div class="col">
      <%= image_tag 'icons/leren-blue.png' %>
      <h2>Leren</h2>
      <p>CAPP Leren helpt academies processen zoals administratie, E-learning en informatiebehoefte stroomlijnen, automatiseren en vereenvoudigen. We helpen het management aan relevante stuurinformatie zodat er koers bepaald kan worden.</p>
      <hr>
      <ul class="checklist">
        <li>Opleidingsadministratie</li>
        <li>Leermanagament</li>
        <li>E-Learning / ELO</li>
      </ul>
    </div>

    <div class="col">
      <%= image_tag 'icons/ontwikkelen-blue.png' %>
      <h2>Ontwikkelen</h2>
      <p>CAPP Ontwikkelen helpt medewerkers door middel van competentiemanagement, 360 feedback en jaargesprekken inzicht te krijgen in hun persoonlijke groei.</p>
      <hr>
      <ul class="checklist">
        <li><a href="#">360 feedback</a></li>
        <li>Compententies</li>
        <li>Jaargesprekken</li>
      </ul>
    </div>

    <div class="col">
      <%= image_tag 'icons/borging-blue.png' %>
      <h2>Kwaliteitspaspoort</h2>
      <p>CAPP Kwaliteitspaspoort borgt de kwaliteit in uw organisatie en maakt ontwikkeling aantoonbaar voor medewerkers, leidinggevenden en accrediterende organisaties.</p>
      <hr>
      <ul class="checklist">
        <li>Managementinformatie</li>
        <li>Accrediteren</li>
        <li>Certificeren</li>
      </ul>
    </div>

  </div>
</section>

<section class="gray">
  <div class="row">
    <h3>Samen een business case maken over hoeveel je kunt besparen met CAPP Leren?</h2>
    <p><a class="button" href="#">Vertel me meer</a></p>
  </div>
</section>

<%#= partial "markets" %>
<%#= partial "contact-info" %>

<%= partial "testimonials" %>
<%= partial "clients" %>
