---
title: Contact
---

<section class="gray">
  <div class="row">
    <h1><%= t("contact.heading") %></h1>
    <h3><%= t("contact.heading2") %></h3>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "contact/contact" %>
    </article>
    <%= partial "over-ons/sidebar" %>
  </div>
</section>

<%= partial "contact-info" %>
<%= partial "map" %>
