---
title: Contact
---

<section class="gray">
  <div class="row">
    <h1><%= t("about.heading") %></h1>
    <h3><%= t("about.heading2") %></h3>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "contact/contact" %>
    </article>
    <%= partial "over-ons/sidebar" %>
  </div>
</section>

<section class="gray">
  <div class="row">
    <h2>Kunnen we iets voor je betekenen?</h2>

    <form class="form-big" accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="contact">
      <div class="form-name">
        <input type="text" name="name" placeholder="Naam">
      </div>
      <div class="form-company">
        <input type="text" name="company" placeholder="Bedrijf of organisatie">
      </div>
      <div class="form-phone">
        <input type="tel" name="phone" placeholder="Telefoon">
      </div>
      <div class="form-email">
        <input type="email" name="email" placeholder="E-mailadres">
      </div>
      <div class="form-text">
        <textarea rows="6" name="message" placeholder="Wat kunnen we voor je doen?"></textarea>
      </div>
      <div class="form-actions">
        <button type="submit">Verstuur</button>
      </div>
    </form>

  </div>
</section>

<%= partial "contact-info" %>
<%= partial "map" %>
