---
title:
  nl: Contact met
  de: Kontakt mit
  en: Contact
description:
  nl: Neem contact op met Defacto via het contactformulier of bel 050 – 3144 832.
  de: Kontakt Defacto über das Kontaktformular oder rufen Sie +49 (0)40 306988472.
popup: false
---

<section class="gray">
  <div class="row">
    <h1><%= t("contact.heading") %></h1>
    <% if root_locale == :nl %>
      <h3><%= t("contact.heading2") %></h3>
    <% end %>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "contact/contact" %>
    </article>
    <%= partial "over-ons/sidebar" %>
  </div>
</section>

<section id="contact-form" class="gray">
  <a name="form"></a>
  <div class="row">
    <h2><%= t("contact.form_title") %></h2>

    <form class="form-contact" accept-charset="UTF-8" action="<%= t("urls.contact") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="Contact">
      <div class="form-name">
        <input type="text" name="name" placeholder="<%= t("form.name") %>">
      </div>
      <div class="form-company">
        <input type="text" name="company" placeholder="<%= t("form.organization") %>">
      </div>
      <div class="form-phone">
        <input type="tel" name="phone" placeholder="<%= t("form.phone") %>">
      </div>
      <div class="form-email">
        <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
      </div>
      <div class="form-text">
        <textarea rows="6" name="message" placeholder="<%= t("form.message") %>"></textarea>
      </div>
      <div class="form-actions">
        <button type="submit"><%= t("form.submit") %></button>
      </div>
    </form>

  </div>
</section>

<%= partial "contact-info" %>
<%= partial "map" %>
