---
title: In 3 stappen geen zorgen meer rondom het Convenant Medische Technologie
description: Hoe gaat uw organisatie de kwaliteitsregistratie organiseren? Met het CAPP Kwaliteitspaspoort ontzorgen wij zorginstellingen.
unique_for_locale: true
---

<% permalink_url = full_url(current_page.url) %>

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>In 3 stappen geen zorgen meer rondom <br>Medische Technologie</h1>
    </div>
  </div>
</div>

<section class="intro">
  <div class="row">
    <article>
      <p>Iedereen bewust en <em>aantoonbaar bekwaam</em> in het werken met medische apparatuur. Makkelijker gezegd dan gedaan. In enkele simpele stappen helpt Defacto ook uw ziekenhuis om de <em>bekwaamheid</em> van uw medewerkers aantoonbaar te maken <em>en te borgen</em>.</p>

      <p>Ieder ziekenhuis heeft er mee te maken: aantoonbare en transparante bekwaamheid van de medewerkers die gebruik maken van medische technologie tijdens hun werk. Dit is afgesproken in het Convenant Veilige toepassing van Medische Technologie.</p>

      <p>Hoe deze integrale kwaliteitszorg dan geborgd moet worden blijft echter vaag in het convenant. Samen met academische, topklinische en algemene ziekenhuizen heeft Defacto drie overzichtelijke stappen ontwikkeld waarmee medewerkers aantoonbaar bekwaam worden voor het Convenant.</p>

      <h2>Stap 1: Definieer uw (vereiste) profielen</h2>

      <p>Met behulp van het <strong><a href="/kwaliteitspaspoort">CAPP Kwaliteitspaspoort</a></strong> kunt u van al uw functies aangeven met welke medische apparatuur deze medewerkers werken (en waarvoor deze medewerkers dus gecertificeerd moeten zijn).</p>

      <h2>Stap 2: Monitor de (vereiste) profielen</h2>

      <p>Iedere medewerker en zijn leidinggevenden hebben vervolgens in het <strong><a href="/kwaliteitspaspoort">CAPP Kwaliteitspaspoort</a></strong> real time inzicht in de status van de certificering van de medewerker in kwestie.</p>

      <p>Met de <em>CAPP Kwaliteitsmonitor</em> heeft u in één oogopslag ditzelfde overzicht voor uw hele organisatie.</p>

      <p>Het vereistenprofiel van een willekeurige medewerker kunt u zien in het onderstaande screenshot.</p>

      <p><%= image_tag "capp-kwaliteitspaspoort-2016.jpg", alt: "CAPP Kwaliteitspaspoort 2016", class: "screenshot" %></p>

      <h2>Stap 3: Houd de kennis van uw medewerkers én uw organisatie altijd actueel</h2>

      <p>Bied met <strong><a href="http://www.learningspaces.nl">LearningSpaces</a></strong> een platform waar iedere medewerker alle belangrijke informatie rondom de apparatuur op de afdeling kan vinden. Door de mogelijkheid tot het stellen van vragen en het verbeteren van bestaande teksten leren medewerkers van elkaar en draagt iedereen de verantwoordelijkheid voor het up to date houden van bestaande kennis.</p>

      <p>Daag uw organisatie uit om via de Critical Incident Methodiek (CIM) alle incidenten te melden en meteen op te lossen, zodat de hele organisatie hiervan kan leren.</p>

      <p>Onderstaand een voorbeeld van een Learningspace van een medisch apparaat.</p>

      <p><%= image_tag "learningspaces-voorbeeld.png", alt: "Voorbeeld medisch apparaat in LearningSpaces", class: "screenshot" %></p>

      <h2>Hoe gaat uw organisatie deze kwaliteitsregistratie organiseren?</h2>

      <p>Wij helpen u graag dit proces adequaat en snel in te in te voeren. U kunt hierbij putten uit de ervaring die wij bij andere ziekenhuizen hebben opgedaan.</p>

      <p>Daarnaast organiseren wij regelmatig workshops, ook voor afdelingen in ziekenhuizen. Laat het ons weten als u daarvoor belangstelling heeft.</p>

      <p>Tenslotte hebben we een LearningSpace-omgeving gefaciliteerd waar ziekenhuizen kennis met elkaar uit kunnen wisselen en ook van elkaar kunnen leren. Zo voorkomen we dat elk ziekenhuis opnieuw het wiel uitvindt.</p>

      <p><%= image_tag "learningspace-CMT-seminar.png", alt: "LearningSpace over het CMT", class: "screenshot" %></p>

      <p>We horen het graag via onderstaand contactformulier als u ook toegang wil tot het platform waar andere ziekenhuizen al kennis met elkaar gedeeld hebben.</p>
    </article>
  </div>
</section>

<section id="contact-form" class="gray">
  <div class="row">
    <h3>Meer weten?</h3>
    <div class="know-more">
      <%= image_tag "team/wilma.jpg", alt: "Wilma Keil", class: "avatar" %>
      <p>Wil je meer weten over het Convenant Medische Technologie. Neem dan contact met mij op via onderstaand formulier.</p>
    </div>
  </div>

  <div class="row">
    <form class="form-contact" accept-charset="UTF-8" action="<%= t("urls.contact") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="Contact over CMT">
      <div class="form-name">
        <input type="text" name="name" placeholder="<%= t("form.name") %>">
      </div>
      <div class="form-company">
        <input type="text" name="company" placeholder="<%= t("form.organization") %>">
      </div>
      <div class="form-phone">
        <input type="tel" name="phone" placeholder="<%= t("form.phone") %>">
      </div>
      <div class="form-email">
        <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
      </div>
      <div class="form-text">
        <textarea rows="6" name="message" placeholder="Uw bericht"></textarea>
      </div>
      <div class="form-actions">
        <button type="submit"><%= t("form.submit") %></button>
      </div>
    </form>
  </div>
</section>
