---
title:
  nl: Demo aanvragen
  de: Demo-Anfrage
  en: Demo request
description:
  nl: Vraag een Demo aan
  de: Fragen Sie eine Software-Demo an
popup: false
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("demo_request.title") %></h1>
    </div>
  </div>
</div>

<section>
  <div class="row">
    <article>
      <h2><%= t("demo_request.heading") %></h2>
      <form class="form-conversion" accept-charset="UTF-8" action="<%= t("urls.contact") %>" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="form" value="<%= t("demo_request.formkeep_title") %>">
        <input type="text" name="name" placeholder="<%= t("form.name") %>">
        <input type="text" name="organization" placeholder="<%= t("form.organization") %>">
        <input class="required" type="email" name="email" placeholder="<%= t("form.email") %>" required>
        <% if root_locale == :de %>
          <input type="tel" name="phone" placeholder="Telefon">
        <% end %>
        <select name="product" id="demo-select">
          <option selected><%= t("form.product") %></option>
          <% if root_locale == :nl %>
            <option class="selected" value="CAPP">CAPP</option>
          <% end %>
          <% if root_locale == :de %>
            <option class="selected" value="CAPP Bilden">CAPP Bilden</option>
            <option class="selected" value="CAPP Entwickeln">CAPP Entwickeln</option>
          <% end %>
          <option class="selected" value="<%= t("form.quality") %>"><%= t("form.quality") %></option>
          <option class="selected" value="LearningSpaces">LearningSpaces</option>
          <option class="selected" value="E-Learning Starterkit">E-Learning Starterkit</option>
          <option class="selected" value="360 Feedback">360° Feedback</option>
        </select>
        <button type="submit"><%= t("form.submit") %></button>
      </form>
    </article>
  </div>
</section>
