---
title:
  nl: Diensten
  de: Service
  en: Services
description:
  nl: Defacto Software levert e-learning, implementatietrajecten, veilige hosting en security en koppelingen met vele andere (HR) systemen.
  de: Defacto Software bietet E-Learning, Implementierungen, safe Hosting und Security und Verbindungen zu vielen anderen (Quell-)Systemen.
---

<section class="gray">
  <div class="row">
    <h1><%= t("services.title") %></h1>
    <br>

    <ul class="solitions-list">

      <li class="elearning">
        <% link_to "/e-learning.html", class: "col left" do %>
          <h2><%= t("services.services.elearning.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("services.services.elearning.desc", link: link_to(t("services.services.elearning.name"), "/e-learning.html")) %></p>
          <%= link_to t("actions.read_more"), "/e-learning.html", class: "button blue outline" %>
        </div>
      </li>

      <li class="implementaties">
        <% link_to "/implementaties.html", class: "col left" do %>
          <h2><%= t("services.services.implementaties.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("services.services.implementaties.desc", link: link_to(t("services.services.implementaties.link"), "/implementaties.html")) %></p>
          <%= link_to t("actions.read_more"), "/implementaties.html", class: "button orange outline" %>
        </div>
      </li>

      <% if root_locale == :nl %>
        <li class="hosting">
          <% link_to "/hosting-security.html", class: "col left" do %>
            <h2><%= t("services.services.hosting.name") %></h2>
          <% end %>
          <div class="col right">
            <p><%= t("services.services.hosting.desc", link: link_to(t("services.services.hosting.link"), "/hosting-security.html")) %></p>
            <%= link_to t("actions.read_more"), "/hosting-security.html", class: "button red outline" %>
          </div>
        </li>
      <% elsif root_locale == :de %>
        <li class="hosting">
          <% link_to "/hosting.html", class: "col left" do %>
            <h2><%= t("services.services.hosting.name") %></h2>
          <% end %>
          <div class="col right">
            <p><%= t("services.services.hosting.desc", link: link_to(t("services.services.hosting.link"), "/hosting.html")) %></p>
            <%= link_to t("actions.read_more"), "/hosting.html", class: "button red outline" %>
          </div>
        </li>
      <% end %>

      <li class="koppelingen">
        <% link_to "/koppelingen.html", class: "col left" do %>
          <h2><%= t("services.services.koppelingen.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("services.services.koppelingen.desc", link: link_to(t("services.services.koppelingen.link"), "/koppelingen.html")) %></p>
          <%= link_to t("actions.read_more"), "/koppelingen.html", class: "button green outline" %>
        </div>
      </li>

    </ul>
  </div>
</section>
