---
title: Diensten
---

<section class="gray">
  <div class="row">
    <h2>Diensten waar we trots op zijn.</h2>
    <br>

    <ul class="solitions-list">

      <li class="elearning">
        <% link_to "elearning.html", class: "col left" do%>
          <h2>E-Learning</h2>
        <% end %>
        <div class="col right">
          <p>
            Met Defacto als ervaren en technisch onderlegde partner, wordt de <%= link_to "E-Learning", "E-Learning.html" %> in jouw organisatie onherroepelijk een succes.
          </p>
          <%= link_to "Lees verder", "elearning.html", class: "button blue outline" %>
        </div>
      </li>

      <li class="implementaties">
        <% link_to "implementaties.html", class: "col left" do%>
          <h2>Implementaties</h2>
        <% end %>
        <div class="col right">
          <p>
           Defacto heeft een eigen <% link_to "implementatiemethodiek", "implementaties.html" %> ontwikkeld waarin onze projectleider en consultants samen met uw management team de strategie en uitvoering waarborgen.
          </p>
          <%= link_to "Lees verder", "#", class: "button orange outline" %>
        </div>
      </li>

      <li class="technisch">
        <% link_to "technisch.html", class: "col left" do%>
          <h2>Techniek &amp; Security</h2>
        <% end %>
        <div class="col right">
          <p>
            Door 25 jaar ervaring met ICT-implementaties bij grote (overheids) instanties weet Defacto bij uitstek dat een <%= link_to "gedegen informatiebeveiliging ", "techniek.html" %>van essentieel belang is.
          </p>
          <%= link_to "Lees verder", "learningspaces.html", class: "button red outline" %>
        </div>
      </li>

    </ul>
  </div>
</section>

