---
title: E-Learning
description:
  nl: Met Defacto als ervaren en technisch onderlegde partner wordt e-learning in jouw organisatie een succes.
  de: Mit Defacto als erfahrenem und technisch geschultem Partner wird E-Learning in Ihrer Organisation zum Erfolg.
popup: false
---

<section class="gray">
  <div class="row">
    <h1><%= t("elearning.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "elearning/elearning" %>
    </article>
    <%= partial "diensten/sidebar" %>
  </div>
</section>

<section class="gray">
  <div class="row">
    <h3><%= markitdown t("elearning.cta_bottom.heading_md") %></h3>
    <br>

    <form class="form-inline" accept-charset="UTF-8" action="<%= t("urls.contact") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="<%= t("elearning.cta_bottom.formkeep_title") %>">
      <input type="text" name="name" placeholder="<%= t("form.name") %>">
      <input type="text" name="organization" placeholder="<%= t("form.organization") %>">
      <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
      <button type="submit"><%= t("actions.tell_me_more") %></button>
    </form>

  </div>
</section>

<%#= partial "testimonials" %>
<%= partial "clients/clients" %>
