---
title: E-Learning starterkit
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("elearning_starterkit.hero.title") %></h1>
      <%= markitdown t("elearning_starterkit.hero.text_md") %>

      <form class="form-inline" accept-charset="UTF-8" action="<%= t("urls.formkeep") %>" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="form" value="<%= t("elearning_starterkit.hero.formkeep_title") %>">
        <input type="text" name="name" placeholder="<%= t("form.name") %>">
        <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
        <button type="submit" class="green"><%= t("actions.tell_me_more") %></button>
      </form>

    </div>
  </div>
</div>

<section>
  <div class="row">
    <article>
      <%= partial "elearning/elearning-starterkit" %>
    </article>
  </div>
</section>

<section class="gray" id="ebook-download">
  <div class="row">

    <label for="ebook-email">
      <h3><%= t("elearning_ebook.heading_html") %></h3>
      <%= image_tag "book-#{I18n.locale.to_s}.png", alt: t("elearning_ebook.image_alt") %>
    </label>

    <form class="form-inline" accept-charset="UTF-8" action="<%= t("urls.formkeep") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="<%= t("elearning_ebook.formkeep_title") %>">
      <input type="email" name="email" id="ebook-email" placeholder="<%= t("form.email") %>" required>
      <input type="hidden" name="download" value="<%= full_url(data.downloads.ebook[I18n.locale]) %>">
      <button type="submit"><%= t("actions.download") %></button>
    </form>

  </div>
</section>
