---
title: Zorg
---

<!-- mood zorg -->
<div id="mood" data-parallax="background" data-parallax-speed="4" data-parallax-offset="-120">
    <div class="center">
        <h1>
          <span>Topzorg leveren</span><br>
        </h1>
        <h2>Met Defacto bouwen aan kwaliteit in de zorg</h2>
    </div>
</div>

<!-- drie belangrijjkste healthcare producten -->
<div id="healthcare-solutions">
    <div class="section-header">
        <p class="center">
          Een greep uit onze oplossingen
        </p>
    </div>
    <div class="row border">
        <div class="col">
            <h2>CAPP Kwaliteitspaspoort</h2>
            <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et tellus diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia elit at turpis commodo blandit. In et vehicula dolor. Suspendisse odio lacus, aliquam sit amet varius et, consequat et nulla. Aenean imperdiet, turpis id varius ultricies, sem orci vestibulum ante, vel interdum ante ligula non quam.
                <a href="CAPP.html">Meer weten?</a>
            </p>
        </div>
        <div class="col">
            <h2>E-Learning Starterkit</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et tellus diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia elit at turpis commodo blandit. In et vehicula dolor. Suspendisse odio lacus, aliquam sit amet varius et, consequat et nulla. Aenean imperdiet, turpis id varius ultricies, sem orci vestibulum ante, vel interdum ante ligula non quam.
                <a href="elearning-starter-kit.html">Lees verder...</a>
            </p>
        </div>
        <div class="col">
            <h2>360&deg;-Feedback</h2>
            <p>
                <%= t(:business_content) %>
                <a href="360.html">Meer...</a>
            </p>
        </div>
    </div>
</div>

<!-- visie & quote -->
<div class="row" style="background: url('../images/slider-back.jpg') repeat;">
    <div id="cases" class="col">
        <div class="case center">
            <h2>2020</h2>
            <p>
                De meeste organisaties zoeken naar continuïteit, kwaliteit en duurzaamheid; een noodzaak in een steeds competitiever speelveld. De weg naar het jaar 2020 zou u kunnen plaveien met de unieke oplossing die Defacto u kan bieden. Met onze propositie, CAPP Leren, CAPP Ontwikkelen en CAPP Kwaliteitspaspoort investeert u in een duurzame modernisering. Een investering waarmee uw organisatie competitief blijft en een investering waarmee u uw patiënten van betere zorg zult voorzien, uw medewerkers beter gecertificeerd en gemotiveerd houdt, de verzekeraars kunt duidelijk maken dat u kwalitatief goede zorg levert en de accrediterende organisaties als NIAZ / HKZ / V&VN meer dan tevreden houdt en waarin uw strategische personeelsplanning inzichtelijk wordt.
            </p>
            <a href="#leesmeer" class="btn secondary purple"><%= t(:case_call_to_action) %></a>
        </div>
    </div>
  </div>
    <div id="references" class="col">
        <h2><%= t(:others_title) %></h2>
        <div class="reference">
            <p>
                <img src="images/quote-icon.png" alt="" title="">
                <%= t(:others_quote) %>
            </p>
            <span>- <%= t(:others_name) %></span>
        </div>
    </div>
  </div>
</div>

<!-- referenties zorg -->
<div id="clients" >
    <div class="logos">
        <img src="images/logos/lumc.png" alt="LUMC logo" title="LUMC">
        <img src="images/logos/mmc.png" alt="MMC logo" title="MMC">
        <img src="images/logos/gelre.png" alt="Gelre Ziekenhuizen logo" title="Gelre">
        <img src="images/logos/zinn.jpg" alt="ZINN logo" title="ZINN">
    </div>
</div>

