---
sitemap_changefreq: "weekly"
sitemap_priority: 1
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("home.hero.title") %></h1>
      <span class="since"><%= t("home.hero.since") %></span>
      <p><%= t("home.hero.text") %></p>
    </div>
  </div>
</div>

<%= partial "cta_appointment" %>
<%= partial "solutions_overview" %>
<%= partial "product_highlights" %>

<section class="testimonials cols">
  <div class="headline">
    <h2><%= t("testimonials.title") %></h2>
  </div>
  <div class="row">

    <%= partial "testimonials", locals: {
      count: 2,
      featured: true,
      summary: true
    } %>

  </div>
</section>

<%= partial "blog/featured" %>
<%= partial "clients" %>
