---
title: Wij zijn Defacto
---


<div id="mood" data-paralax="background" data-speed="5">
    <div class="mood-content">
        <h1>Developing people</h1>

        <p>
          <%= t(:tagline) %>
        </p>
        <a class="btn" href="#map-canvas"><%= t(:header_call_to_action) %></a>
    </div>
</div>
<%= partial "clients" %>
<%= partial "markets" %>
<%= partial "solutions" %>
<%= partial "references" %>


