---
title:
  nl: Developing People sinds 1987
  de: Developing People seit 1987
description:
  nl: Defacto Software helpt organisaties bij het ontwikkelen en certificeren van hun medewerkers door middel van  CAPP LMS, Kwaliteitspaspoort en LearningSpaces.
  de: Defacto hilft Unternehmen bei der Personalentwicklung und Zertifizierung von Mitarbeitern mittels CAPP LMS, Qualitätspass und LearningSpaces.
sitemap_changefreq: "weekly"
sitemap_priority: 1
---

<%= partial "solutions-overview" %>

<section class="testimonials featured-testimonial cols">
  <div class="headline">
    <h2><%= t("testimonials.title") %></h2>
  </div>
  <div class="row">

    <%= partial "testimonials", locals: {
      count: 2,
      featured: true,
      summary: true
    } %>

  </div>
  <div class="row">
    <%= nav_link_to t("testimonials.more_testimonials"), "/testimonials.html", class: "button blue outline" %>
  </div>
</section>

<%= partial "german_news" if I18n.locale == :de  %>
<%= partial "blog/featured" %>
<%= partial "clients/clients" %>
