---
title: Defacto
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Developing People</h1>
      <span class="since">Since 1987</span>
      <p><%= t(:tagline) %></p>
    </div>
    <a class="button-white outline" href="#">Onze oplossingen</a>
    <a class="button" href="#">Maak een afspraak</a>
  </div>
</div>

<%= partial "solutions" %>
<%= partial "product-highlights" %>
<%= partial "testimonials" %>
<%#= partial "markets" %>
<%#= partial "highlights" %>
<%= partial "clients" %>
<%#= partial "map" %>
<%#= partial "contact-info" %>
