---
title: Defacto
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t(:slogan) %></h1>
      <span class="since">sinds 1987</span>
      <p><%= t(:tagline) %></p>
    </div>
  </div>
</div>

<section class="gray cta">
  <div class="row">
    <h3>Meer weten? Bel <%= link_to "050 314 48 32", "tel:+31503144832", class: "phone" %> of</h3>

    <div class="modal">
      <label for="afspraak-maken">
        <span class="button outline">Maak een afspraak</span>
      </label>
      <input class="modal-state" id="afspraak-maken" type="checkbox">
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="afspraak-maken"></label>
          <h3>Maak een afspraak</h3>
          <form accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <input type="hidden" name="form" value="afspraak">
            <input type="email" name="email" placeholder="E-mail">
            <button type="submit" value="Verstuur bericht" class="btn">Maak een afspraak</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "solutions_overview" %>
<%= partial "product_highlights" %>
<%#= partial "testimonials" %>
<%= partial "blog/featured" %>
<%= partial "clients" %>
