---
title: Defacto
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Developing People</h1>
      <span class="since">Since 1987</span>
      <p><%= t(:tagline) %></p>
    </div>
    <%= link_to "Onze oplossingen", "oplossingen.html", class: "button-white outline" %>
    <%= link_to "Maak een afspraak", "#", class: "button" %>
  </div>
</div>

<%= partial "solutions_overview" %>
<%= partial "product_highlights" %>
<%= partial "testimonials" %>
<%= partial "clients" %>
<%#= partial "markets" %>
<%#= partial "highlights" %>
<%#= partial "map" %>
<%#= partial "contact-info" %>
