---
title: Innovatie
---

<div id="solutions">
    <div class="">
        <div class="slide" >
            <h2><%= t(:"innovation_title") %></h2>
            <div class="slide-text right-box">
                <p><%= t(:"innovation_description") %></p>
            </div>
        </div>
        <div class="slide" >
            <h2><%= t(:"learning_spaces_title") %></h2>
        </div>
    </div>

    <div class="branches-info">
      <p>
          <%= t(:learning_spaces_tagline) %>
      </p>
    </div>
    <div class="slide" >
      <h2><%= t(:"learning_spaces_description") %></h2>
    </div>
    <div class="slide" >
      <h2><%= t(:"arcade_learning_title") %></h2>
      <div class="slide-text right-box">
          <p><%= t(:"arcade_learning_description") %></p>
      </div>
    </div>
</div>

<%= partial "jobs" %>





