---
title: Innovatie
---
<div id="mood" data-parallax="background" data-parallax-speed="4" data-parallax-offset="-200">
    <div class="center">
        <h1>
          <span>Innovatie</span><br>
        </h1>
        <h2>Stilstand is achteruitgang</h2>
    </div>
</div>

<div id="solutions">
    <div class="">
<div id="innovation-solutions">
    <div class="section-header">
        <p class="center">
          <%= t(:"innovation_tagline") %>
        </p>
    </div>
    <div class="row border">
        <div class="col">
            <h2><%= t(:"innovation_title") %></h2>
            <p>
              <%= t(:"innovation_description") %>
            </p>
        </div>
        <div class="col">
            <h2><%= t(:"learning_spaces_title") %></h2>
            <p>
               <%= t(:"learning_spaces_description") %>
                <a href="http://37.139.31.100/">Meer weten?</a>
            </p>
        </div>
        <div class="col">
            <h2><%= t(:"arcade_learning_title") %></h2>
            <p>
                <%= t(:"arcade_learning_description") %>
            </p>
        </div>
    </div>
</div>

    <div class="section-header">
        <p class="center">
          <a class="btn btn-lg" href="#">Ik wil op de hoogte blijven</a>
        </p>
    </div>







