---
title: Kwaliteitspaspoort
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Kwaliteitspaspoort</h1>
      <p>Volledige compliance met CAPP Kwaliteitspaspoort</p>
    </div>
    <%= link_to "Demo", "capp.html", class: "button white outline" %>
    <%= link_to "Productsheets", "capp.html", class: "button white outline" %>
    <div class="modal">
      <label for="afspraak-maken">
        <div class="button">Maak een afspraak</div>
      </label>
      <input class="modal-state" id="afspraak-maken" type="checkbox">
      <div class="modal-window">
        <div class="modal-inner">
          <h3>Maak een afspraak</h3>
          <form accept-charset="UTF-8" action="https://formkeep.com/f/09c077b6938c" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <input type="text" name="name" placeholder="Naam">
            <input type="text" name="company" placeholder="Bedrijf of organisatie">
            <input type="tel" name="phone" placeholder="Telefoon">
            <input type="email" name="email" placeholder="E-mail">
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<section>
  <div class="row">
    <div class="content">
      <h2>Het Kwaliteitspaspoort in het kort</h2>
      <p>
        <ul>
          <li>Uw organisatie stelt profielen vast met daarin functie- en organisatie-eisen of de beroepsprofielen in uw sector.</li>
          <li>Deze vormen de basis van het Kwaliteitspaspoort van de medewerker, met alle interne en externe vereisten waaraan voldaan moet worden.</li>
          <li>Het individuele paspoort is een monitor voor de medewerker en helpt de medewerker zijn of haar bevoegd- en bekwaamheden op peil te houden.</li>
          <li>Een leidinggevende kan op individueel èn op teamniveau tijdig problemen signaleren en vertalen naar individuele of teamontwikkelplannen.</li>
          <li>HR beschikt over actuele en accurate stuurinformatie met betrekking tot aanwezige bevoegd- en bekwaamheden op elk organisatieniveau.</li>
          <li>De Raad van Bestuur kan hun bestuurlijke verantwoordelijkheid aantonen richting toezichthouders en accrediterende instanties.</li>
          <li>Het Kwaliteitspaspoort geeft ook de autorisaties af voor het gebruik van specialistische apparatuur, de toegangsniveaus binnen uw IT-systemen of voor een koppeling met externe kwaliteitsregisters</li>
        </ul>
      </p>
      <h3>Eigen verantwoordelijkheid</h3>
      <p>Met CAPP kunnen medewerkers ook zelf leer- interventies, opleidingen en bijscholing opzoeken, zichzelf inplannen èn direct volgen via bijvoorbeeld het digitale E-Learning systeem binnen CAPP. Hierdoor komt een stuk verantwoordelijkheid bij de medewerker zelf te liggen en biedt het een uniek instrument om de bevoegd- en bekwaamheden tijdens het jaargesprek van een medewerker te bespreken.</p>
    </div>
</section>

<section class="gray">
  <div class="row">
    <h3>Nu beginnen met het behalen van je accreditaties met het Kwaliteitspaspoort?</h2>
    <div class="modal">
      <label for="vertel-me-meer">
        <div class="button">Vertel me meer</div>
      </label>
      <input class="modal-state" id="vertel-me-meer" type="checkbox">
      <div class="modal-window">
        <div class="modal-inner">
          <h3>Maak een afspraak</h3>
          <form accept-charset="UTF-8" action="https://formkeep.com/f/09c077b6938c" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <input type="text" name="name" placeholder="Naam">
            <input type="text" name="company" placeholder="Bedrijf of organisatie">
            <input type="tel" name="phone" placeholder="Telefoon">
            <input type="email" name="email" placeholder="E-mail">
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="testimonials">

  <div class="headline">
    <h2>Wat anderen zeggen</h2>
  </div>

  <div class="row">
    <ul class="testimonial-list">

      <li>
        <div class="quote">
          <p>
            Er is een bijzondere prestatie geleverd. Met dit paspoort geeft MMC invulling aan zijn ambities om voorop te lopen in het verder toetsbaar maken van kwaliteit van zorgprofessionals. De passie en de wil om - in het belang van de patiënt - het steeds beter te doen staat in alles voorop"
          </p>
        </div>
        <div class="author">
          <%= image_tag 'http://dev.defacto.nl/defacto-website/images/team/jurre.jpg', :class => 'avatar' %>
          <div class="name">Bruno de Hoogd</div>
          <a class="company" href="#">Directeur HRM, Maxima Medisch Centrum</a>
        </div>
      </li>

      <li>
        <div class="quote">
          <p>
            Wij werken al vanaf begin dit millenium samen met Defacto. In CAPP hebben we gezamenlijk een aantal ontwikkeltrajecten gedaan. De samenwerking is altijd prettig, we hebben vorig jaar zelfs een medewerker van Defacto ingelijfd.
          </p>
        </div>
        <div class="author">
          <%= image_tag 'http://dev.defacto.nl/defacto-website/images/team/patrik.jpg', :class => 'avatar' %>
          <div class="name">Trudie de Vrij</div>
          <a class="company" href="#">LUMC</a>
        </div>
      </li>

    </ul>
  </div>
</section>
<%= partial "clients" %>
