---
title: LearningSpaces
description:
  nl: Handleidingen. Werkwijzen. Tips en trucs. In LearningSpaces kan je hele team specialismen met elkaar delen.
  de: LearningSpaces ist eine spielerische und einfach zu bedienende Plattform die informelles Lernen und den Wissensaustausch stimuliert.
---

<div class="hero">
  <div class="hero-inner">

    <div class="row">

      <div class="hero-copy col">
        <h1><%= image_tag "logos/learningspaces-white.png", alt: "Logo LearningSpaces", class: "logo-ls" %></h1>
        <%= markitdown t("learningspaces.hero.text_md") %>

        <%= link_to t("actions.try_for_free"), t("urls.ls_registration"), "data-event": "hero_try", class: "button" %>
        <%= link_to t("actions.visit_website"), t("urls.ls_website"), target: "_blank", "data-event": "hero_website", class: "button white outline" %>
      </div>

      <div class="hero-video col">

        <div class="video-fluid">
            <iframe src="<%= t("urls.ls_vimeo") %>?api=1&player_id=vimeo-player&title=0&portrait=0&byline=0&badge=0"
                id="vimeo-player"
                width="640"
                height="360"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
                data-progress="true"
                data-seek="true"
                data-bounce="true"
                data-title="video">
              </iframe>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<%= partial "learningspaces/learningspaces" %>

<section class="testimonials cols">
  <div class="row">
    <%= partial "learningspaces/learningspaces-testimonials" %>
  </div>
</section>

<section class="gray">
  <div class="row">
    <h3><%= markitdown t("learningspaces.cta_bottom.heading_md") %></h3>
    <p>
      <%= link_to t("learningspaces.start_now"), t("urls.ls_registration"), target: "_blank", "data-event": "footer_try",class: "button" %>
    </p>
  </div>
</section>

<%= partial "clients/clients" %>
