---
title: LearningSpaces
description:
  nl: Handleidingen. Werkwijzen. Tips en trucs. In LearningSpaces kan je hele team specialismen met elkaar delen.
  de: LearningSpaces ist eine spielerische und einfach zu bedienende Plattform die informelles Lernen und den Wissensaustausch stimuliert.
---

<div class="hero">
  <div class="hero-inner">

    <div class="row">
      <div class="hero-copy col">
        <h1><%= image_tag "logos/learningspaces-white.png", alt: "Logo LearningSpaces", class: "logo-ls" %></h1>
        <%= markitdown t("learningspaces.hero.text_md") %>
        <%= link_to t("actions.try_for_free"), t("urls.ls_registration"), class: "button" %>
        <%= link_to t("actions.visit_website"), t("urls.ls_website"), target: "_blank", class: "button white outline" %>
      </div>
      <div class="hero-image col">

        <div class="browser intrinsic-ratio">
          <div class="browser-ooo"></div>
          <div class="browser-viewport">

             <%= image_tag ("ls-spaces.png"), title: "LearningSpaces", alt: "LearningSpaces" %>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<%= partial "learningspaces/learningspaces" %>

<section class="gray">
  <div class="row">
    <h3><%= markitdown t("learningspaces.cta_bottom.heading_md") %></h3>
    <p>
      <%= link_to t("learningspaces.start_now"), t("urls.ls_registration"), target: "_blank", class: "button" %>
    </p>
  </div>
</section>

<%= partial "clients" %>
