---
title: LearningSpaces
description:
  nl: LearningSpaces is een laagdrempelig social-learning platform dat leren en kennisdeling stimuleert.
  de: LearningSpaces ist eine spielerische und einfach zu bedienende Plattform die informelles Lernen und den Wissensaustausch stimuliert.
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= image_tag "logos/learningspaces-white.png", alt: "LearningSpaces - Focus your team’s learning efforts" %></h1>
      <%= markitdown t("learningspaces.hero.text_md") %>
    </div>
      <%= link_to t("actions.try_for_free"), t("urls.ls_registration"), class: "button" %>
      <%= link_to t("actions.visit_website"), t("urls.ls_website"), target: "_blank", class: "button white outline" %>
  </div>
</div>

<%= partial "learningspaces/learningspaces" %>

<section class="gray">
  <div class="row">
    <h3><%= markitdown t("learningspaces.cta_bottom.heading_md") %></h3>
    <p>
      <%= link_to t("learningspaces.start_now"), t("urls.ls_registration"), target: "_blank", class: "button" %>
    </p>
  </div>
</section>

<%= partial "clients" %>
