---
title: LearningSpaces
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= image_tag "logos/learningspaces-white.png", alt: "LearningSpaces - Focus your team’s learning efforts" %></h1>
      <%= markitdown t("learningspaces.hero.text_md") %>
    </div>

    <% if I18n.locale == :nl %>
       <%= link_to t("actions.try_for_free"), "http://public.learningspaces.nl/accounts/new", class: "button" %>
       <%= link_to t("actions.visit_website"), "http://learningspaces.nl", target: "_blank", class: "button white outline" %>
      <% end %>
      <% if I18n.locale == :de %>
       <%= link_to t("actions.try_for_free"), "https://public.learningspaces.de/accounts/new", class: "button" %>
       <%= link_to t("actions.visit_website"), "http://learningspaces.de", target: "_blank", class: "button white outline" %>
      <% end %>


  </div>
</div>

<%= partial "learningspaces/learningspaces" %>

<section class="gray">
  <div class="row">
    <h3><%= markitdown t("learningspaces.cta_bottom.heading_md") %></h3>
    <p>
      <%= link_to t("learningspaces.start_now"), "http://public.learningspaces.nl/accounts/new", target: "_blank", class: "button" %>
    </p>
  </div>
</section>

<%#= partial "testimonials" %>
<%= partial "clients" %>
