---
title: Oplossingen
---

<section class="gray">
  <div class="row">
    <h2>Software en diensten waar we trots op zijn.</h2>
  </div>
</section>

<%= partial "product_highlights" %>

<section class="gray">
  <ul class="solitions-list3">
    <li>
      <h2><%= t(:solutions_page_capp_title) %></h2>
      <p><%= t(:solutions_page_capp_description) %></p>
      <%= link_to t(:solutions_call_to_action), "capp.html", class: "button" %>
    </li>
    <li>
      <h2>LearningSpaces</h2>
      <p>LearningSpaces is een laagdrempelig social-learning platform dat leren en kennisdeling stimuleert.</p>
      <%= link_to "Maak kennis met LearningSpaces", "learningspaces.html", class: "button" %>
    </li>
    <li>
      <h2><%= t(:solutions_page_starter_kit_title) %></h2>
      <p><%= t(:solutions_page_starter_kit_description) %></p>
      <%= link_to t(:solutions_call_to_action), "elearning-starter-kit.html", class: "button" %>
    </li>
    <li>
      <h2><%= t(:solutions_page_360_title) %></h2>
      <p><%= t(:solutions_page_360_description) %></p>
      <%= link_to "Bezoek de website", "https://www.360feedback.io", target: "_blank", class: "button" %>
    </li>
    <li>
      <h2><%= t(:solutions_page_jaargesprekken_title) %></h2>
      <p><%= t(:solutions_page_jaargesprekken_description) %></p>
      <%= link_to t(:solutions_call_to_action), "#jaargesprekken", class: "button" %>
    </li>
  </ul>
</section>

<section class="gray">
  <div class="row">
    <ul class="solitions-list2">
      <li class="capp">
        <% link_to "capp.html", class: "col left" do%>
          <h2>CAPP</h2>
        <% end %>
        <div class="col right">
          <p>
            <%= link_to "CAPP", "capp.html" %> helpt uw medewerkers of klanten op optimale wijze op te leiden en hun vakmanschap te bevorderen.
          </p>
          <%= link_to "Lees verder", "capp.html", class: "button blue outline" %>
        </div>
      </li>
      <li class="learningspaces">
        <% link_to "capp.html", class: "col left" do%>
          <h2><%= image_tag "logos/learningspaces-white.png", alt: "LearningSpaces" %></h2>
        <% end %>
        <div class="col right">
          <p>
            <%= link_to "LearningSpaces", "learningspaces.html" %> is een laagdrempelig social-learning platform dat leren en kennisdeling stimuleert.
          </p>
          <%= link_to "Lees verder", "learningspaces.html", class: "button green outline" %>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="gray">
  <ul class="solitions-list1">
    <li>
      <h2><%= t(:solutions_page_capp_title) %></h2>
      <p><%= t(:solutions_page_capp_description) %></p>
      <%= link_to t(:solutions_call_to_action), "capp.html", class: "button" %>
    </li>
    <li>
      <h2>LearningSpaces</h2>
      <p>LearningSpaces is een laagdrempelig social-learning platform dat leren en kennisdeling stimuleert.</p>
      <%= link_to "Maak kennis met LearningSpaces", "learningspaces.html", class: "button" %>
    </li>
    <li>
      <h2><%= t(:solutions_page_starter_kit_title) %></h2>
      <p><%= t(:solutions_page_starter_kit_description) %></p>
      <%= link_to t(:solutions_call_to_action), "elearning-starter-kit.html", class: "button" %>
    </li>
    <li>
      <h2><%= t(:solutions_page_360_title) %></h2>
      <p><%= t(:solutions_page_360_description) %></p>
      <%= link_to "Bezoek de website", "https://www.360feedback.io", target: "_blank", class: "button" %>
    </li>
    <li>
      <h2><%= t(:solutions_page_jaargesprekken_title) %></h2>
      <p><%= t(:solutions_page_jaargesprekken_description) %></p>
      <%= link_to t(:solutions_call_to_action), "#jaargesprekken", class: "button" %>
    </li>
    <li>
      <h2><%= t(:solutions_page_innovation_title) %></h2>
      <p><%= t(:solutions_page_innovation_description) %></p>
      <%= link_to t(:solutions_call_to_action), "innovation.html", class: "button" %>
    </li>
  </ul>
</section>

<%= partial "highlights" %>
