---
title: Oplossingen
---

<section class="gray">
  <div class="row">
    <h2><%= t(:solutions_page_intro) %></h2>
  </div>
</section>

<section>
  <ul class="solition-list">
    <li>
      <h2><%= t(:solutions_page_capp_title) %></h2>
      <p><%= t(:solutions_page_capp_description) %></p>
      <%= link_to t(:solutions_call_to_action), "capp.html", class: "button" %>
    </li>
    <li>
      <h2>LearningSpaces</h2>
      <p>LearningSpaces is een laagdrempelig social-learning platform dat leren en kennisdeling stimuleert.</p>
      <%= link_to "Maak kennis met LearningSpaces", "learningspaces.html", class: "button" %>
    </li>
    <li>
      <h2><%= t(:solutions_page_starter_kit_title) %></h2>
      <p><%= t(:solutions_page_starter_kit_description) %></p>
      <%= link_to t(:solutions_call_to_action), "elearning-starter-kit.html", class: "button" %>
    </li>
    <li>
      <h2><%= t(:solutions_page_360_title) %></h2>
      <p><%= t(:solutions_page_360_description) %></p>
      <%= link_to t(:solutions_call_to_action), "360.html", class: "button" %>
    </li>
    <li>
      <h2><%= t(:solutions_page_jaargesprekken_title) %></h2>
      <p><%= t(:solutions_page_jaargesprekken_description) %></p>
      <%= link_to t(:solutions_call_to_action), "#jaargesprekken", class: "button" %>
    </li>
    <li>
      <h2><%= t(:solutions_page_innovation_title) %></h2>
      <p><%= t(:solutions_page_innovation_description) %></p>
      <%= link_to t(:solutions_call_to_action), "innovation.html", class: "button" %>
    </li>
  </ul>
</section>
