---
title: Over ons
---

<section class="gray">
  <div class="row">
    <h1><%= t("about.heading") %></h1>
    <h3><%= t("about.heading2") %></h3>
  </div>
</section>

<section>
  <div class="row">

    <article class="sidebar-content">
      <%= markitdown t("about.text_html_md") %>
    </article>

    <%= partial "over-ons/sidebar" %>

  </div>
</section>

<%= partial "over-ons/team" %>
<%#= partial "markets" %>
<%#= partial "contact-info" %>


