---
title:
  nl: Wie we zijn
  de: Über Uns
description:
  nl: Over Defacto - leren en ontwikkelen sinds 1987. We zijn gevestigd in het centrum van Groningen, nabij het centraal station
  de: Defacto - Lernen und Bilden seit 1987. Wir befinden uns im Zentrum von Groningen in der Nähe des Hauptbahnhofs
---

<section class="gray">
  <div class="row">
    <h1><%= t("about.heading") %></h1>
    <h3><%= t("about.heading2") %></h3>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "over-ons/over-ons" %>
    </article>
    <%= partial "over-ons/sidebar" %>
  </div>
</section>

<%= partial "over-ons/team" %>
<%#= partial "contact-info" %>
