---
title:
  nl: Over ons
  de: Über Uns
description:
  nl: Aangenaam. Wij zijn Defacto - leren en ontwikkelen sinds 1987. Ontwikkelaar van CAPP LMS, Kwaliteitspaspoort en LearningSpaces.
  de: Schön, Sie kennen zu lernen. Wir sind Defacto - Lernen und Entwicklung seit 1987. Entwickler von CAPP LMS, Qualitätpass und LearningSpaces.
---

<section class="gray">
  <div class="row">
    <h1><%= t("about.heading") %></h1>
    <h3><%= t("about.heading2") %></h3>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "over-ons/over-ons" %>
    </article>
    <%= partial "over-ons/sidebar" %>
  </div>
</section>

<%= partial "over-ons/team" %>
