---
title: Producten
---


<section class="gray">
  <div class="row">
    <h2>Producten waar we trots op zijn.</h2>
    <br>

    <ul class="solitions-list">

      <li class="capp">
        <% link_to "capp.html", class: "col left" do%>
          <h2>CAPP</h2>
        <% end %>
        <div class="col right">
          <p>
            <%= link_to "CAPP LMS", "capp.html" %> zorgt er voor dat uw medewerkers op eenvoudige en doeltreffende wijze leren en hun talenten ontwikkelen.
          </p>
          <%= link_to "Lees verder", "capp.html", class: "button blue outline" %>
        </div>
      </li>

      <li class="kwaliteitspaspoort">
        <% link_to "kwaliteitspaspoort.html", class: "col left" do%>
          <h2><%= image_tag "logos/kwaliteitspaspoort.svg", alt: "Kwaliteitspaspoort" %></h2>
        <% end %>
        <div class="col right">
          <p>
            Garandeer kwaliteit binnen uw organisatie door te werken aan bevoegdheden en bekwaamheden van uw medewerkers. Maak uw organisatie toekomstbestendig met het <%= link_to "Kwaliteitspaspoort", "kwaliteitspaspoort.html" %>.
          </p>
          <%= link_to "Lees verder", "kwaliteitspaspoort.html", class: "button turquoise outline" %>
        </div>
      </li>

      <li class="learningspaces">
        <% link_to "learningspaces.html", class: "col left" do%>
          <h2><%= image_tag "logos/learningspaces-white.png", alt: "LearningSpaces" %></h2>
        <% end %>
        <div class="col right">
          <p>
            <%= link_to "LearningSpaces", "learningspaces.html" %> is een laagdrempelig social-learning platform dat leren en kennisdeling stimuleert.
          </p>
          <%= link_to "Lees verder", "learningspaces.html", class: "button green outline" %>
        </div>
      </li>

      <li class="starterkit">
        <% link_to "elearning-starter-kit.html", class: "col left" do%>
          <h2>E-Learning<br>Starterkit</h2>
        <% end %>
        <div class="col right">
          <p>
            Maak je eigen content met de <%= link_to "E-Learning Starterkit", "elearning-starter-kit.html" %> . Zo bespaar je geld en sluit je content beter aan bij je behoeften. De E-Learning Starterkit bevat alles wat je nodig hebt om meteen van start te gaan.
          </p>
          <%= link_to "Lees verder", "elearning-starter-kit.html", class: "button red outline" %>
        </div>
      </li>

      <li class="three-sixty">
        <% link_to "360.html", class: "col left" do %>
          <h2><%= image_tag "logos/360logo.svg", alt: "360° Feedback" %></h2>
        <% end %>
        <div class="col right">
          <p>
            Maak een efficiëntieslag in je HRD. <%= link_to "360&deg; Feedback", "360.html" %> maakt het voor medewerkers eenvoudig hun zelfkennis te vergroten en ontwikkeldoelen op te stellen.
          </p>
          <%= link_to "Lees verder", "elearning-starter-kit.html", class: "button orange outline" %>
        </div>
      </li>

    </ul>
  </div>
</section>
