---
title: Producten
---

<section class="gray">
  <div class="row">
    <h2><%= t("products.title") %></h2>
    <br>

    <ul class="solitions-list">

      <li class="capp">
        <% locale_link_to "/capp", class: "col left" do %>
          <h2><%= t("capp.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("capp.desc", link: locale_link_to(t("capp.name"), "/capp")) %></p>
          <%= locale_link_to t("actions.read_more"), "/capp", class: "button blue outline" %>
        </div>
      </li>

      <li class="kwaliteitspaspoort">
        <% locale_link_to "/kwaliteitspaspoort", class: "col left" do %>
          <h2><%= image_tag t("kwaliteitspaspoort.logo"), alt: t("kwaliteitspaspoort.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("kwaliteitspaspoort.desc", link: locale_link_to(t("kwaliteitspaspoort.name"), "/kwaliteitspaspoort")) %></p>
          <%= locale_link_to t("actions.read_more"), "/kwaliteitspaspoort", class: "button turquoise outline" %>
        </div>
      </li>

      <li class="learningspaces">
        <% locale_link_to "/learningspaces", class: "col left" do %>
          <h2><%= image_tag t("learningspaces.logo"), alt: t("learningspaces.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("learningspaces.desc", link: locale_link_to(t("learningspaces.name"), "/learningspaces")) %></p>
          <%= locale_link_to t("actions.read_more"), "/learningspaces", class: "button green outline" %>
        </div>
      </li>

      <li class="starterkit">
        <% locale_link_to "/elearning-starterkit", class: "col left" do %>
          <h2><%= t("elearning_starterkit.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("elearning_starterkit.desc", link: locale_link_to(t("elearning_starterkit.name"), "/elearning-starterkit")) %></p>
          <%= locale_link_to t("actions.read_more"), "/elearning-starterkit", class: "button red outline" %>
        </div>
      </li>

      <li class="threesixty">
        <% locale_link_to "/360", class: "col left" do %>
          <h2><%= image_tag t("threesixty.logo"), alt: t("threesixty.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("threesixty.desc", link: locale_link_to(t("threesixty.name"), "/360")) %></p>
          <%= locale_link_to t("actions.read_more"), "/360", class: "button orange outline" %>
        </div>
      </li>

    </ul>
  </div>
</section>
