---
title: Producten
---

<section class="gray">
  <div class="row">
    <h2><%= t("products.title") %></h2>
    <br>

    <ul class="solitions-list">

      <li class="capp">
        <% link_to "capp.html", class: "col left" do %>
          <h2><%= t("products.products.capp.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("products.products.capp.desc", link: link_to(t("products.products.capp.name"), "capp.html")) %></p>
          <%= link_to t("actions.read_more"), "capp.html", class: "button blue outline" %>
        </div>
      </li>

      <li class="kwaliteitspaspoort">
        <% link_to "kwaliteitspaspoort.html", class: "col left" do %>
          <h2><%= image_tag t("products.products.kpp.logo"), alt: t("products.products.kpp.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("products.products.kpp.desc", link: link_to(t("products.products.kpp.name"), "kwaliteitspaspoort.html")) %></p>
          <%= link_to t("actions.read_more"), "kwaliteitspaspoort.html", class: "button turquoise outline" %>
        </div>
      </li>

      <li class="learningspaces">
        <% link_to "learningspaces.html", class: "col left" do %>
          <h2><%= image_tag t("products.products.ls.logo"), alt: t("products.products.ls.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("products.products.ls.desc", link: link_to(t("products.products.ls.name"), "learningspaces.html")) %></p>
          <%= link_to t("actions.read_more"), "learningspaces.html", class: "button green outline" %>
        </div>
      </li>

      <li class="starterkit">
        <% link_to "elearning-starterkit.html", class: "col left" do %>
          <h2><%= t("products.products.esk.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("products.products.esk.desc", link: link_to(t("products.products.esk.name"), "elearning-starterkit.html")) %></p>
          <%= link_to t("actions.read_more"), "elearning-starterkit.html", class: "button red outline" %>
        </div>
      </li>

      <li class="threesixty">
        <% link_to "360.html", class: "col left" do %>
          <h2><%= image_tag t("products.products.threesixty.logo"), alt: t("products.products.threesixty.name") %></h2>
        <% end %>
        <div class="col right">
          <p><%= t("products.products.threesixty.desc", link: link_to(t("products.products.threesixty.name"), "360.html")) %></p>
          <%= link_to t("actions.read_more"), "360.html", class: "button orange outline" %>
        </div>
      </li>

    </ul>
  </div>
</section>
