---
title:
  nl: Referenties
  de: Was Kunden sagen
  en: What clients say
---

<section class="gray">
  <div class="row">
    <h1><%= t("references.title") %></h1>
    <br>

    <ul class="references-list">
      <li><%= image_tag "references/kpn-consulting.jpg", alt: "KPN Consulting" %></li>
      <li><%= image_tag "references/tui.png", alt: "TUI Nederland" %></li>
      <li><%= image_tag "references/lumc.png", alt: "Leids Universitair Medisch Centrum" %></li>
      <li><%= image_tag "references/mumc.png", alt: "Maastricht Universitair Medisch Centrum" %></li>
      <li><%= image_tag "references/mmc.png", alt: "Maxima Medisch Centrum" %></li>
      <li><%= image_tag "references/gelre-ziekenhuizen.png", alt: "Gelre Ziekenhuizen" %></li>
      <li><%= image_tag "references/spaarne-ziekenhuis.png", alt: "Spaarne Ziekenhuis" %></li>
      <li><%= image_tag "references/kennemer-gasthuis.png", alt: "Kennemer Gasthuis" %></li>
      <li><%= image_tag "references/sfg.png", alt: "Sint Franciscus Gasthuis" %></li>
      <li><%= image_tag "references/vlietland.png", alt: "Vlietland Ziekenhuis" %></li>
      <li><%= image_tag "references/schiphol-college.png", alt: "Schiphol College" %></li>
      <li><%= image_tag "references/schiphol-group.png", alt: "Schiphol Group" %></li>
      <li><%= image_tag "references/equens.png", alt: "Equens" %></li>
      <li><%= image_tag "references/sogeti.png", alt: "Sogeti" %></li>
      <li><%= image_tag "references/ministerie-vws.png", alt: "Ministerie van Volksgezondheid, Welzijn en Sport" %></li>
      <li><%= image_tag "references/ministerie-szw.png", alt: "Ministerie van Sociale Zaken en Werkgelegenheid" %></li>
      <li><%= image_tag "references/rivierenland.png", alt: "Ziekenhuis Rivierenland" %></li>
      <li><%= image_tag "references/eko.png", alt: "Evangelisches Krankenhaus Olderburg" %></li>
      <li><%= image_tag "references/ozg.png", alt: "Ommelander Ziekenhuis Groep" %></li>
      <li><%= image_tag "references/karakter.png", alt: "Karakter kinder- en jeugdpsychiatrie" %></li>
      <li><%= image_tag "references/b3.png", alt: "Beweging 3.0" %></li>
      <li><%= image_tag "references/stmr.png", alt: "Stichting Thuiszorg & Maatschappelijk werk Rivierenland" %></li>
      <li><%= image_tag "references/kwintes.png", alt: "Kwintes" %></li>
      <li><%= image_tag "references/zuidzorg.png", alt: "Zuidzorg" %></li>
      <li><%= image_tag "references/amarant.png", alt: "Amarant" %></li>
      <li><%= image_tag "references/zzg.png", alt: "ZZG Zorggroep" %></li>
      <li><%= image_tag "references/activite.jpg", alt: "ActiVite" %></li>
      <li><%= image_tag "references/icare.png", alt: "Icare" %></li>
      <li><%= image_tag "references/heliomare.png", alt: "Heliomare onderwijs" %></li>
      <li><%= image_tag "references/accolade.png", alt: "Accolade Zorggroep" %></li>
      <li><%= image_tag "references/in-bzk.gif",
        alt: "Imigratie- en Naturalisatiediesnts, Ministerie van Binnenlandse Zaken en Koninkrijksreleaties" %></li>
      <!-- <li><%= image_tag "references/nfi-jus.png", alt: "Nederlands Forensisch Instituut, Ministerie van Justitie" %></li> -->
      <li><%= image_tag "references/duo-ocw.png", alt: "Dienst Uitvoerend Onderwijs, Ministerie van Onderwijs, Cultuur en Wetenschap" %></li>
      <li><%= image_tag "references/gemeente-denhaag.png", alt: "Gemeente Den Haag" %></li>
      <li><%= image_tag "references/svb.png", alt: "SVB" %></li>
      <li><%= image_tag "references/mcl.png", alt: "Medisch Centrum Leeuwarden" %></li>
      <li><%= image_tag "references/kvk.png", alt: "Kamer van Koophandel" %></li>
      <li><%= image_tag "references/phoenix.jpg", alt: "Phoenix Opleidingen" %></li>
      <li><%= image_tag "references/berendsohn.png", alt: "Berendsohn" %></li>
      <li><%= image_tag "references/avw.png", alt: "Academie voor Wetgeving" %></li>
    </ul>

  </div>
</section>
