---
title: Oplossingen
---


<div id="solutions">
    <div class="">
        <div class="slide" >
            <div class="slide-text right-box">
                <p><%= t(:solutions_page_intro) %></p>
            </div>
        </div>
        <div class="slide" >
            <h2><%= t(:solutions_page_capp_title) %></h2>
            <div class="slide-text right-box">
                <p><%= t(:solutions_page_capp_description) %></p>
                <a href="capp.html" class="btn secondary"><%= t(:solutions_call_to_action) %></a>
            </div>
        </div>
        <div class="slide" >
            <h2><%= t(:solutions_page_starter_kit_title) %></h2>
            <div class="slide-text right-box">
                <p><%= t(:solutions_page_starter_kit_description) %></p>
                <a href="#leesmeer" class="btn secondary"><%= t(:solutions_call_to_action) %></a>
            </div>
        </div>
        <div class="slide" >
            <h2><%= t(:solutions_page_360_title) %></h2>
            <div class="slide-text right-box">
                <p><%= t(:solutions_page_360_description) %></p>
                <a href="360.html" class="btn secondary"><%= t(:solutions_call_to_action) %></a>
            </div>
        </div>
        <div class="slide" >
            <h2><%= t(:solutions_page_jaargesprekken_title) %></h2>
            <div class="slide-text right-box">
                <p><%= t(:solutions_page_jaargesprekken_description) %></p>
                <a href="#leesmeer" class="btn secondary"><%= t(:solutions_call_to_action) %></a>
            </div>
        </div>
        <div class="slide" >
            <h2><%= t(:solutions_page_innovation_title) %></h2>
            <div class="slide-text right-box">
                <p><%= t(:solutions_page_innovation_description) %></p>
                <a href="innovation.html" class="btn secondary"><%= t(:solutions_call_to_action) %></a>
            </div>
        </div>

    </div>


</div>
