<div class="sidebar">
  <h3><%= t("header.services") %></h3>
  <nav>
    <ul>
      <li><%= nav_link_to t("services.services.elearning.name"), "/elearning.html" %></li>
      <li><%= nav_link_to t("services.services.implementaties.name"), "/implementaties.html" %></li>
      <li><%= nav_link_to t("services.services.hosting.name"), "/hosting.html" %></li>
      <li><%= nav_link_to t("services.services.koppelingen.name"), "/koppelingen.html" %></li>
    </ul>
  </nav>
</div>
