<section class="gray clients">

  <div class="logos">
    <%= image_tag 'clients/berendsohn.gif', alt: 'Berendsohn' %>
    <%= image_tag 'clients/evangelisches-krankenhaus-oldenburg.gif', alt: 'Evangelisches Krankenhaus Oldenburg' %>
    <%= image_tag 'clients/fek.gif', alt: 'Friedrich-Ebert-Krankenhaus' %>
    <%= image_tag 'clients/tui.gif', alt: 'TUI' %>
    <%= image_tag 'clients/mumc.gif', alt: 'MUMC+' %>
  </div>

</section>
