<section class="gray clients">

  <div class="logos">
    <a href="https://www.mumc.nl/" target="_blank"><%= image_tag 'clients/mumc.gif', alt: 'MUMC+' %></a>
    <a href="https://www.kpnconsulting.nl/" target="_blank"><%= image_tag 'clients/kpn-consulting.gif', alt: 'KPN Consulting' %></a>
    <a href="https://www.lumc.nl/" target="_blank"><%= image_tag 'clients/lumc.gif', alt: 'LUMC' %></a>
    <a href="http://www.sfg.nl/" target="_blank"><%= image_tag 'clients/sfg.gif', alt: 'Sint Franciscus Gasthuis' %></a>
    <a href="https://www.rijksoverheid.nl/ministeries/ministerie-van-sociale-zaken-en-werkgelegenheid" target="_blank"><%= image_tag 'clients/szw.gif', alt: 'Ministerie van Sociale Zaken en Werkgelegenheid' %></a>
    <a href="https://www.phoenixopleidingen.nl/" target="_blank"><%= image_tag 'clients/phoenix.gif', alt: 'Phoenix opleidingen' %></a>
    <a href="http://www.tui.nl/" target="_blank"><%= image_tag 'clients/tui-nl.gif', alt: 'TUI Nederland' %></a>
    <a href="https://www.sogeti.nl/" target="_blank"><%= image_tag 'clients/sogeti.gif', alt: 'Sogeti' %></a>
  </div>

</section>
