<section class="gray clients">

  <div class="logos">
    <a href="http://www.berendsohn.de/" target="_blank"><%= image_tag 'clients/berendsohn.gif', alt: 'Berendsohn' %></a>
    <a href="http://www.evangelischeskrankenhaus.de/" target="_blank"><%= image_tag 'clients/evangelisches-krankenhaus-oldenburg.gif', alt: 'Evangelisches Krankenhaus Oldenburg' %></a>
    <a href="http://www.friedrich-ebert-krankenhaus.de/" target="_blank"><%= image_tag 'clients/fek.gif', alt: 'Friedrich-Ebert-Krankenhaus' %></a>
    <a href="http://www.tui.com" target="_blank"><%= image_tag 'clients/tui.gif', alt: 'TUI' %></a>
    <a href="http://www.mumc.nl" target="_blank"><%= image_tag 'clients/mumc.gif', alt: 'MUMC+' %></a>
  </div>

</section>
