---
title: Blog
description:
  nl: Ons blog staat vol met trends en verhalen over onze producten.
  de: Unser Blog ist voll von Trends und Geschichten über unsere Produkte.
pageable: true
---

<section class="row">
  <div class="col">

    <ol>
      <% page_articles.each_with_index do |article, i| %>
        <li>
          <article>

            <header class="post-header">
              <h2><%= link_to article.title, article.url %></h2>
            </header>

            <div class="post-body">
              <%#= article.summary(250) %>
              <%= Nokogiri::HTML(article.summary).text %>
            </div>

            <footer class="post-footer">
              <div class="post-meta">
                <%
                author = blog_author(article)
                author_name = author ? "#{author.firstname} #{author.lastname}" : article.data.author
                %>
                <span class="author-name"><%= author_name %></span>
                <time datetime="<%= article.date.strftime('%F') %>"><%= I18n.l(article.date, format: "%e %B %Y", locale: I18n.locale.to_s) %></time>
              </div>
            </footer>

          </article>
        </li>
      <% end %>
    </ol>

    <% if paginate && num_pages > 1 %>
      <div class="text-center">
        <ul class="pagination">
          <% if prev_page %>
            <li><%= link_to '<i class="icon-arrow-left">&laquo;</i> Vorige', prev_page, class: 'page-step prev' %></li>
          <% end %>

          <% for p in 1..num_pages %>
            <% if p == page_number %>
              <li class="current"><%= p %></li>
            <% elsif p == 1 %>
              <li><%= link_to p, "/blog/" %></li>
            <% else %>
              <li><%= link_to p, "/blog/#{p}/" %></li>
            <% end %>
          <% end %>

          <% if next_page %>
            <li><%= link_to 'Volgende <i class="icon-arrow-right">&raquo;</i>', next_page, class: 'page-step next' %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>
</section>
