---
title: Blog
description:
  nl: Ons blog staat vol met trends en verhalen over onze producten.
  de: Unser Blog ist voll von Trends und Geschichten über unsere Produkte.
pageable: true
---

<%
featured = blog.local_articles.find { |item| item.metadata[:page]["featured"] rescue false }
%>

<section class="row">

    <% if current_page.url == "/blog/" && featured %>
      <div class="featured-post-on-top">

        <div>
          <%= link_to image_tag(featured.data.featured_image, alt: featured.title), featured.url %>
        </div>

        <div>

          <article>
            <header class="post-header">
              <h2 class="post-title"><%= link_to featured.title, featured.url %></h2>
            </header>

            <div class="post-body">
              <%= Nokogiri::HTML(featured.summary).text %>
              <%= link_to t("blog.read_more"), featured.url, class: "read-more" %>
            </div>

            <footer class="post-footer">
              <div class="post-meta">

                <%
                author = blog_author(featured)
                author_name = author ? blog_author_name(author) : featured.data.author
                %>

                <% if author && src = team_avatar_url(author) %>
                  <div class="author-avatar">
                    <%= image_tag src, alt: author_name, class: "avatar" %>
                  </div>
                <% end %>
                <div class="author">
                  <span class="author-name"><%= author_name %></span>
                  <time datetime="<%= featured.date.strftime('%F') %>"><%= I18n.l(featured.date, format: "%e %B %Y", locale: I18n.locale.to_s) %></time>
                </div>
              </div>
            </footer>
          </article>

        </div>
      </div>
    <% end %>

    <ol class="blog-list">
      <% (page_articles - [featured]).each do |article| %>
        <li>
          <%= partial "blog/blog-article-preview", locals: { article: article } %>
        </li>
      <% end %>
    </ol>

    <% if paginate && num_pages > 1 %>
      <div class="text-center">
        <ul class="pagination">
          <% if prev_page %>
            <li><%= link_to t("blog.prev"), prev_page, class: 'page-step prev' %></li>
          <% end %>

          <% for page in 1..num_pages %>
            <% if page == page_number %>
              <li class="current"><%= page %></li>
            <% else %>
              <% append = page == 1 ? nil : "#{page}/" %>
              <li><%= link_to page, "/blog/#{append}" %></li>
            <% end %>
          <% end %>

          <% if next_page %>
            <li><%= link_to t("blog.next"), next_page, class: 'page-step next' %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

</section>
