<div class="solution">
  <div class="solution-icon">
    <%= locale_link_to image_tag("icons/leren-blue.png", alt: t("home.solutions.learn.title")), "/capp-bilden.html" %>
  </div>
  <h3><%= locale_link_to t("home.solutions.learn.title"), "/capp-bilden.html" %></h3>
  <p><%= t("home.solutions.learn.text_html", link: locale_link_to("CAPP", "/capp-bilden.html")) %></p>
  <%= locale_link_to t("actions.read_more"), "/capp-bilden.html", class: "button small blue" %>
</div>

<div class="solution">
  <div class="solution-icon">
    <%= locale_link_to image_tag("icons/ontwikkelen-blue.png", alt: t("home.solutions.develop.title")), "/capp-entwickeln.html" %>
  </div>
  <h3><%= locale_link_to t("home.solutions.develop.title"), "/capp-entwickeln.html" %></h3>
  <p><%= t("home.solutions.develop.text_html", link: locale_link_to("CAPP", "/capp-entwickeln.html")) %></p>
  <%= locale_link_to t("actions.read_more"), "/capp-entwickeln.html", class: "button small blue" %>
</div>

<div class="solution">
  <div class="solution-icon">
    <%= locale_link_to image_tag("icons/borging-blue.png", alt: t("home.solutions.quality.title")), "/kwaliteitspaspoort.html" %>
  </div>
  <h3><%= locale_link_to t("home.solutions.quality.title"), "/kwaliteitspaspoort.html" %></h3>
  <p><%= t("home.solutions.quality.text_html") %></p>
  <%= locale_link_to t("actions.read_more"), "/kwaliteitspaspoort.html", class: "button small blue" %>
</div>

<div class="solution">
  <div class="solution-icon">
    <%= locale_link_to image_tag("icons/informeel-green.png", alt: t("home.solutions.informal.title")), "/learningspaces.html" %>
  </div>
  <h3><%= locale_link_to t("home.solutions.informal.title"), "/learningspaces.html" %></h3>
  <p><%= t("home.solutions.informal.text_html", link: locale_link_to("LearningSpaces", "/learningspaces.html")) %></p>
  <%= locale_link_to t("actions.read_more"), "/learningspaces.html", class: "button small green" %>
</div>
