<header>
    <a class="logo" href="index.html" title="&lt;some smart SEO text&gt;">
        <img src="images/logo.png" alt="Logo Defacto" title="&lt;some smart SEO text&gt;" width="205" height="34">
    </a>

    <div class="phone">
        <a href="tel:+31503144832">050 314 48 32</a>
    </div>

    <nav class="primary-nav">
        <ul>
            <li><%= nav_path(t(:home), "/") %></li>
            <li><%= nav_path(t(:solutions), "/solutions.html") %></li>
            <li><%= nav_path(t(:about), "/about-us.html") %></li>
            <li><%= nav_path(t(:blog), "/blog") %></li>
        </ul>
        <a href="#" id="pull"><%= t(:menu) %></a>
    </nav>
</header>
