<header>
    <a class="logo" href="index.html" title="&lt;some smart SEO text&gt;">
        <img src="images/logo.png" alt="Logo Defacto" title="&lt;some smart SEO text&gt;" width="205" height="34">
    </a>

    <div class="phone">
        <a href="tel:+31503144832">050 314 48 32</a>
    </div>

    <nav class="primary-nav">
        <ul>
            <li class="active"><a href="index.html" class="active"><%= t(:home) %></a></li>
            <li><a href="solutions.html"><%= t(:solutions) %></a></li>
            <li><a href="about-us.html"><%= t(:about) %></a></li>
            <li><a href="/blog"><%= t(:blog) %></a></li>
        </ul>
        <a href="#" id="pull"><%= t(:menu) %></a>
    </nav>
</header>
