---
title: Het Convenant Medische Technologie borgen met de oplossingen van Defacto"
---
<% permalink_url = full_url(current_page.url) %>

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Het Convenant Medische Technologie borgen met het Kwaliteitspaspoort&trade;</h1>
    </div>
  </div>
</div>

<section class="intro">
  <div class="row">
    <article>
      <p>
        Sinds eind 2011 is het Convenant Veilige Toepassing Medische Technologie in het Ziekenhuis van kracht, dat de veiligheid bij de koop, de verkoop en het gebruik van medische technologie moet borgen. Ieder ziekenhuis dient ervoor te zorgen dat alle medewerkers aantoonbaar bevoegd én bekwaam zijn voor gebruik van de technologie waar zij dagelijks mee in aanraking komen. Helaas biedt het Convenant geen bruikbare handvatten om te zorgen dat dit gerealiseerd kan worden.
      </p>
      <h2>Bevoegd- en bekwaamheden registreren met het CAPP Kwaliteitspaspoort&trade;</h2>
      <p>
        Om registratie van bevoegdheden en bekwaamheden op orde te brengen heeft Defacto in samenwerking met universitaire en algemene ziekenhuizen een oplossing ontwikkeld, <strong>het CAPP Kwaliteitspaspoort</strong>. Het Kwaliteitspaspoort zorgt voor transparantie op het gebied van bevoegdheden en bekwaamheden, voor zowel de medewerker, de leidinggevende als de Inspectie voor de Volksgezondheid.
      </p>

      <!-- <img class="center screenshot" src="images/landing/kwaliteitspaspoort-veenstra.png" alt="bevoegdheden en bekwaamheden met het Kwaliteitspaspoort van Defacto">
      <p class="caption">Voorbeeld van een Kwaliteitspaspoort</p> -->

      <p>
        Met het Kwaliteitspaspoort wordt een profiel opgesteld met eisen voor elke medewerker, afhankelijk van functie en gebruikte apparatuur. Hierna is voor de medewerker op elk moment inzichtelijk voor welke techniek of apparatuur scholing vereist is. Voor de leidinggevende is op afdelings- en op organisatieniveau inzichtelijk waar hiaten in scholing aanwezig zijn.
      </p>
      <h2>Informeel leren met LearningSpaces</h2>
      <p>
        Met LearningSpaces biedt Defacto daarnaast een toegankelijk platform dat het bijzonder eenvoudig maakt om de benodigde kennis voor het op peil houden van bekwaamheden en bevoegdheden te bundelen en te delen met medewerkers.
        <br><br>
      </p>

      <img class="center screenshot" src="images/blog/learningspaces-defacto.png" alt="social learning met LearningSpaces">
      <p class="caption">Sociaal leren met LearningSpaces</p>

      <p>
        Met het Kwaliteitspaspoort als bekwaamheidsdashboard en het social learning platform LearningSpaces biedt Defacto een totaaloplossing voor registratie, kennisbehoud en transparantie omtrent het Convenant Medische Technologie.
      </p>
      <h2>Digitale leeromgeving over het Convenant Medische Technologie</h2>
      <p>
        We hebben een LearningSpace-omgeving ingericht waarin kennis en ervaringen gedeeld worden. De Ziekenhuizen Rivierenland en het LUMC tonen hierin hun casus met betrekking tot de inzet van het Kwaliteitspaspoort. Deze omgeving biedt de mogelijkheid tips, vragen en plannen van aanpak te delen. Registreer je nu voor <strong><a href="https://cmtseminar.learningspaces.io/register" target="_blank">de CMT LearningSpace</a></strong> en denk mee!
      </p>
    </article>
  </div>
</section>

<section id="contact-form" class="gray">
  <div class="row">
    <h3>Meer weten?</h3>
    <div class="know-more">
      <img src="images/team/rob.jpg" class="avatar">
      <p>
        Ik ben Rob en ik help je graag met alle vragen over het CMT. Hoe kan ik je helpen?
      </p>
    </div>
  </div>

  <div class="row">
    <form class="form-contact" accept-charset="UTF-8" action="<%= t("urls.formkeep") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="Contact over CMT">
      <div class="form-name">
        <input type="text" name="name" placeholder="<%= t("form.name") %>">
      </div>
      <div class="form-company">
        <input type="text" name="company" placeholder="<%= t("form.organization") %>">
      </div>
      <div class="form-phone">
        <input type="tel" name="phone" placeholder="<%= t("form.phone") %>">
      </div>
      <div class="form-email">
        <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
      </div>
      <div class="form-text">
        <textarea rows="6" name="message" placeholder="Je bericht"></textarea>
      </div>
      <div class="form-actions">
        <button type="submit"><%= t("form.submit") %></button>
      </div>
    </form>
  </div>
</section>
