---
title: "Workshop: Hoe borg ik het Convenant MT? - 28 januari 2016"
---
<% permalink_url = full_url(current_page.url) %>

<div class="hero" itemscope itemtype="http://schema.org/Event">
  <meta itemprop="URL" content="http://www.defacto.nl/workshop-convenant-mt/">
  <meta itemprop="name" content="Workshop Convenant Medische Technologie">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Workshop: Hoe borg ik het Convenant Medische Technologie in mijn ziekenhuis?</h1>
      <span class="hero-description" itemprop="description"><%= markitdown "Leer van de ervaringen van andere ziekenhuizen en zie hoe het Convenant Veilige Toepassing Medische Technologie in 3 stappen geborgd wordt." %></span>
      <p>
        <strong>Waar?</strong>
        <span itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name">Defacto</span>, <span itemprop="address">Zuiderpark 3, 9724 AD, Groningen</span>
        </span>
        <br>
        <strong>Wanneer?</strong>
        <meta itemprop="startDate" content="2016-01-28T14:30">Donderdag 28 januari 2016, 14:30 uur
        <meta itemprop="endDate" content="2016-01-28T17:30">
      </p>

    </div>
     <p>
        <a href="https://defactoseminar.typeform.com/to/HEKv83?datum=28" class="button cta-big">Meld je nu aan</a>
      </p>
  </div>
</div>

<section class="intro">
  <div class="row">
    <article>
      <h2>In 3 stappen borging van het Convenant Medische Technologie</h2>
      <p>
      Sinds eind 2011 is het <strong>Convenant Veilige Toepassing Medische Technologie</strong> van kracht. Het convenant moet de veiligheid bij de aanschaf, de verkoop en het gebruik van medische technologie borgen. Het beleid van de Inspectie voor de Gezondheidszorg maakt het noodzakelijk om bekwaamheden en bevoegdheden rondom het gebruik van medische technologie aantoonbaar te maken. Hoe pak je dat in de praktijk aan?
      <br><br>
      </p>
      <p>
      Op <strong>donderdag 28 januari</strong> aanstaande organiseren wij de workshop <em>‘Hoe borg ik het Convenant Medische Technologie?’</em> voor leidinggevenden en medewerkers in ziekenhuizen die dagelijks te maken krijgen met het vastleggen van voornoemde bekwaamheden. De workshop laat in 3 stappen zien hoe borging van het convenant gerealiseerd kan worden en biedt tevens de mogelijkheid om gericht vragen te stellen aan onze medewerkers.
      <br><br>
      </p>
      <h3>Aansprekende praktijkvoorbeelden</h3>
      <p>
      De workshop zal geschieden aan de hand van aansprekende praktijkvoorbeelden uit diverse ziekenhuizen waar de borging al is gegarandeerd met het Kwaliteitspaspoort van Defacto. De onderstaande onderwerpen zullen aan de orde komen:
      </p>
      <ul>
        <li>Hoe borg ik de bekwaamheid van mijn medewerkers in het gebruik van medische apparatuur?</li>
        <li>Wat betekent het voor mijn organisatie om dit proces op te zetten (financieel, technisch en qua draagvlak)?</li>
        <li>Hoe maak ik het Convenant Medische Technologie een permanent onderdeel van de kwaliteitsmonitoring op mijn afdeling/in mijn ziekenhuis?</li>
        <li>Hoe tonen we de bekwaamheid van medewerkers aan ten opzichte van externe stakeholders als Inspectie, NIAZ, et cetera? <br><br></li>
      </ul>
      <h3>Praktische informatie</h3>
      <ul>
        <li>Deelname is kosteloos en vrijblijvend</li>
        <li>Er is voldoende parkeergelegenheid</li>
        <li>Introducés vooraf graag aanmelden</li>
      </ul>
    </article>
  </div>
</section>

<section class="program gray">
  <div class="row">
    <h3>Het programma</h3>
    <div class="row program-1">
    <ul class="program-list">
      <li>
      <div class="time">14:30 uur</div>
      <h4>Inloop</h4>
      </li>
      <li>
      <div class="time">15:00 uur</div>
      <h4>Welkomstwoord en inleiding</h4>
      </li>
      <li>
      <div class="time">15:15 uur - 17:00 uur</div>
      <h4>Een rijkgevuld programma met de volgende onderdelen:</h4>
      <ul>
      <li>
      <h5>Kennismakingsronde</h5>
      </li>
      <li>
      <h5>Praktijkcases</h5>
      <li>
      <h5>Praktische tips bij invoering</h5>
      </li>
      <li>
      <h5>Feedback en vragenronde</h5>
      </li>
      </ul>
      </li>
      <li>
      <div class="time">17:00 uur</div>
      <h4>Afsluiting en borrel</h4>
      </li>
    </ul>
    </div>
  </div>
</section>

<div class="register">
  <div class="register-inner">
    <p>
      <a href="https://defactoseminar.typeform.com/to/HEKv83?datum=28" class="button cta-big">Meld je nu aan</a>
    </p>
  </div>
</div>

<div class="social-share">
  <div class="title">
  Deel deze workshop
  </div>
    <ul>
      <li>
      <a href="https://twitter.com/intent/tweet?text=Hoe borg ik het Convenant Medische Technologie? Leer het 3 stappenplan van Defacto kennen tijdens de workshop&amp;url=<%= permalink_url %>&amp;via=DefactoSoftware"
      target="_blank"
      rel="nofollow"
      title="<%= t("blog.share.twitter") %>"
      class="icon-twitter2"
      data-popup='{"width":550,"height":235}'>
      <span><%= t("blog.share.twitter") %></span>
      </a>
      </li>
      <li>
      <a href="http://www.facebook.com/sharer.php?u=<%= permalink_url %>"
      target="_blank"
      rel="nofollow"
      title="<%= t("blog.share.facebook") %>"
      class="icon-facebook"
      data-popup='{"width":580,"height":296}'>
      <span><%= t("blog.share.facebook") %></span>
      </a>
      </li>
      <li>
      <a href="https://plus.google.com/share?url=<%= permalink_url %>"
      target="_blank"
      rel="nofollow"
      title="<%= t("blog.share.google_plus") %>"
      class="icon-google-plus"
      data-popup='{"width":490,"height":530}'>
      <span><%= t("blog.share.google_plus") %></span>
      </a>
      </li>
      <li>
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= permalink_url %>&amp;title=Hoe borg ik het Convenant Medische Technologie? Leer het 3 stappenplan van Defacto kennen tijdens de workshop"
      target="_blank"
      rel="nofollow"
      title="<%= t("blog.share.linkedin") %>"
      class="icon-linkedin2"
      data-popup='{"width":550,"height":500}'>
      <span><%= t("blog.share.linkedin") %></span>
      </a>
      </li>
    </ul>
</div>

<%= partial "contact-info" %>
<%= partial "map" %>
